<% semantic_form_for @order do |f| %>
  <% f.inputs do %>
    <%= f.error_messages %>
    <li class="string">
      <label>Number</label>
      <%= f.object.number %>
      <%= f.input :number, :as => :hidden %>
    </li>
    <%= f.input :name %>
    <%= f.input :customer_name, :label => "Customer name", :as => :string, :input_html => { :class => "customer_autocomplete" } %>
    <%= f.input :customer_id, :as => :hidden, :input_html => { :id => "customer_id" } %>
    <%= f.input :description, :input_html => { :rows => 2 } %>
    <%= f.input :payment_terms, :as => :text, :input_html => { :rows => 2 } %>
    <%= f.input :discount, :label => "Discount (%)" %>
    <%= f.input :rounding, :label => "Rounding" %>

  <% end %>
  <fieldset class="buttons">
    <button type="submit" id='primary-button'>
      <%= image_tag 'icons/silk/disk.png' %>
      Save Project
    </button>
  </fieldset>
<% end %>

