- title "Credit Debit Notes"
- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    link_to('Credit Debit Note', credit_debit_notes_path) ] |
  #top_right_link
    - form_for @search do |f|
      = f.text_field :number_or_supplier_name_or_customer_profile_first_name_like
      = f.submit 'search'

  = sidemenu @tab

= hint 'Click "Create Credit / Debit Note" to add new Credit / Debit Note'

#subheader
  %h3 Credit / Debit Notes
  #subheader-menu
    = link_to("#{image_tag('icons/silk/add.png')} Create Credit / Debit Note", new_credit_debit_note_path, :class => 'main_link')

%h4 Credit Notes
%table.list
  %thead
    %tr
      %th Number
      %th Supplier
      %th Date
      %th Note
      %th.actions Actions
  %tfoot
    %tr
      %td{ :colspan => 5 }= will_paginate @credit_notes, :param_name => :credit
  - for credit_note in @credit_notes
    %tr
      %td= link_to credit_note.number, credit_note
      %td= h credit_note.supplier.name
      %td= h credit_note.user_date
      %td= h truncate(credit_note.note, :length => 50)
      %td.actions 
        = link_to image_tag('icons/silk/application_form_edit.png'), edit_credit_debit_note_path(credit_note)
        = link_to image_tag('icons/silk/delete.png'), credit_note, :confirm => 'Are you sure?', :method => :delete

%h4 Debit Notes
%table.list
  %thead
    %tr
      %th Number
      %th Customer
      %th Date
      %th Note
      %th.actions Actions
  %tfoot
    %tr
      %td{ :colspan => 5 }= will_paginate @debit_notes, :param_name => :credit
  - for debit_note in @debit_notes
    %tr
      %td= link_to debit_note.number, debit_note
      %td= h debit_note.customer.profile.full_name
      %td= h debit_note.user_date
      %td= h truncate(debit_note.note, :length => 50)
      %td.actions 
        = link_to image_tag('icons/silk/application_form_edit.png'), edit_credit_debit_note_path(debit_note)
        = link_to image_tag('icons/silk/delete.png'), debit_note, :confirm => 'Are you sure?', :method => :delete
