- title "New Service"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Administrations', administrations_path), |
    link_to("Services", services_path), |
    "New" ] |

= hint "Fields marked with asterix are required"
#subheader
  %h3 Create new service
  #subheader-menu
    = link_to "#{image_tag('icons/silk/arrow_left.png')} back", services_path
= sidemenu @tab

= render :partial => 'form'
