- semantic_form_for @delivery_order, :url => (@sales_order ? sales_sales_order_delivery_orders_path(@sales_order) : sales_delivery_orders_path) do |f|
  = f.error_messages
  - f.inputs 'Delivery Order', :class => "form_section" do
    %li#general_transaction_number_input.string.required
      = f.label :number, "Number", :class => "required"
      .inline
        %input{ :type => :text, :size => 50,
                :name => 'delivery_order[number]',
                :id => 'delivery_order_number',
                :value => f.object.attributes['number'],
                :readonly => "readonly",
                :class => 'default' }
        %p.inline-errors= f.error_message_on :number, :append_text => ", but <strong><a href='#' rel='#{@number_suggested}' class='number_suggestion'>#{@number_suggestion}</a></strong> is available"  
      .inline{ :style => "min-width:190px" }
        = f.label :do_date, "Date", :class => "required"
        = f.text_field :do_date, :class => "datepicker"
    = f.input :customer_id, :as => :hidden 
    = f.input :project_id, :as => :hidden 
    - if @sales_order
      %li.string
        = f.label :customer_id, "Customer"
        = link_to @sales_order.customer.fullname, @sales_order.customer
      %li.string
        = f.label :sales_order_id, "Sales Order"
        = f.hidden_field :sales_order_id
        = link_to @sales_order.number, (@sales_order.project.nil? ? [:sales, @sales_order] : project_sales_order_path(@sales_order.project, @sales_order))
    - else
      = f.input :customer_name, :label => "Customer Name", :as => :string
      = f.input :sales_order, :collection => @sales_orders, :label => "Sales Order Number", :include_blank => "select Sales Order", :input_html => { :class => "select filter"}
    = f.input :warehouse, :collection => @warehouses, :input_html => { :class => "select filter" }
    = f.input :reference
    = f.input :description, :input_html => { :rows => 3 }, :label => "Remark"

  - f.inputs 'Items', :class => "form_section" do
    %li
      %table.report.plain
        %thead
          %tr
            %th.td_5= check_box_tag 'check_all', 1, nil, :id => "check_master"
            %th Item
            %th Quantity
            %th
        %tfoot
          %tr
            %td &nbsp;
            %td{ :colspan => 3 } &nbsp;
        %tbody
          - f.semantic_fields_for :entries do |ent|
            %tr
              %td.tdc.td_5= ent.check_box :_destroy, :class => "check_slave"
              %td.item
                = ent.object.item_name
                = ent.hidden_field :item_id
              %td.tdr.td_15= ent.text_field :quantity, :size => 15, :class => "numbers mr_qty"
              %td.tdr
                = link_to image_tag('icons/silk/cross.png'), '#', :class => "row_remover"


  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save Delivery Order

- content_for :javascripts do
  - javascript_tag do
    var insert_fields = true;
    :plain
      var template = $('tbody tr:last-child').html();
      var regexp1 = new RegExp("\\[(\\d+)\\]", "g");
      var regexp2 = new RegExp("_(\\d+)_", "g");
      var new_id = $('tbody tr').length;
      function multiselect_response() {
        $('#delivery_order_sales_order_id').bind('multiselectclose', function(event, ui) {
          var sos = $(this).multiselect('getChecked');
          var form = $(this).parents('form');
          form.append('<input type="hidden" name="get_sos" value="1"/>');
          $.ajax({
            url: form[0].action,
            type: 'post',
            data: form.serialize(),
            success: function(response, status) {
              var entries = $(response).find('tbody');
              var customer = $(response).find('#delivery_order_customer_name_input');
              var customer_id = $(response).find('#delivery_order_customer_id_input');
              form.find('#delivery_order_customer_name_input').html(customer.html());
              form.find('#delivery_order_customer_id_input').html(customer_id.html());
              form.find('tbody').html(entries.html());
              $('input[name=get_sos]').remove();
            }
          });
          return false;
        });
      }
      $(function() {
        multiselect_response();
      });
