- title "Delivery Order"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    link_to('Delivery Order', delivery_orders_path), |
    "Delivery Order # #{@delivery_order.number}" ] |

  = sidemenu @tab

= hint "Click 'edit' to edit"

#subheader
  %h3= "Delivery Order # #{@delivery_order.number}"
  #subheader-menu
    = link_to "#{image_tag('icons/silk/page_white_acrobat.png')} Export PDF", delivery_order_path(@delivery_order, :format => "pdf", :type =>"pdf")
    &bull;
    = link_to "#{image_tag('icons/silk/application_form_edit.png')} edit", edit_delivery_order_path(@delivery_order)
    &bull;
    = link_to "#{image_tag('icons/silk/delete.png')} delete", delivery_order_path(@delivery_order), :method => :delete, :confirm => "Are you sure"

.two_columns
  %p
    %span.light Sales Order Number:
    = link_to @delivery_order.sales_order.number, sales_sales_order_path(@delivery_order.sales_order)
  %p
    %span.light Customer Name:
    = link_to @delivery_order.customer.profile.full_name, @delivery_order.customer
  %p
    %span.light Date:
    =h @delivery_order.do_date
  %p
    %span.light reference:
    =h @delivery_order.reference
  %p
    %span.light Description:
    =h @delivery_order.description

%table.report
  %thead
    %tr
      %th No.
      %th Item
      %th Qty
  %tbody
  - @delivery_order.entries.each_with_index do |entry, i|
    %tr
      %td.tdr.td_5= (i+1)
      %td= link_to h(entry.item.name), entry.item
      %td.tdr= entry.quantity

