- title "Profiles"

%table
  %tr
    %th First name
    %th Last name
    %th Address
    %th City
    %th Phone
    %th Fax
  - for profile in @profiles
    %tr
      %td= h profile.first_name
      %td= h profile.last_name
      %td= h profile.address
      %td= h profile.city
      %td= h profile.phone
      %td= h profile.fax
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Profile", new_profile_path
