- semantic_form_for @sales_invoice do |f|
  =f.error_messages
  -f.inputs do
    %li#general_transaction_number_input.string.required
      %label{ :for => 'sales_invoice_number' } Number <span class="required">*</span>
      %input{ :type => :text, :size => 50,
              :name => 'sales_invoice[number]',
              :id => 'sales_invoice_number',
              :value => f.object.attributes['number'],
              :class => 'default' }
      %p.inline-errors= f.error_message_on :number, :append_text => ", but <strong><a href='#' rel='#{@number_suggested}' class='number_suggestion'>#{@number_suggestion}</a></strong> is available"  
    = f.input :delivery_orders, :collection => @delivery_orders, :label => "Delivery Order", :input_html => {:class => "multiselect"} 
    = f.input :user_date, :input_html => { :class => 'datepicker' }, :as => :string, :label => "Transaction date"
    = f.input :due_time, :label => "Days until due"
    = f.input :discount
    = f.input :ppn, :label => "Tax"
    = f.input :top, :label => "Term of Payment"

  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save Sales Invoices

- content_for :javascripts do
  - javascript_tag do
    var insert_fields = true;
    :plain
      function multiselect_response() {
        $('#lelivery_order_sales_order_id').bind('multiselectclose', function(event, ui) {
          var sos = $(this).multiselect('getChecked');
          var form = $(this).parents('form');
          form.append('<input type="hidden" name="get_sos" value="1"/>');
          $.ajax({
            url: form[0].action,
            type: 'post',
            data: form.serialize(),
            success: function(response, status) {
              var entries = $(response).find('tbody');
              var customer = $(response).find('#delivery_order_customer_name_input');
              var customer_id = $(response).find('#delivery_order_customer_id_input');
              form.find('#delivery_order_customer_name_input').html(customer.html());
              form.find('#delivery_order_customer_id_input').html(customer_id.html());
              form.find('tbody').html(entries.html());
              $('input[name=get_sos]').remove();
            }
          });
          return false;
        });
      }
      $(function() {
        multiselect_response();
      });
