- form_for @sales_invoice do |f|
  = f.error_messages
  %p
    = f.label :company_id
    %br
    = f.text_field :company_id
  %p
    = f.label :delivery_order_id
    %br
    = f.text_field :delivery_order_id
  %p
    = f.label :number
    %br
    = f.text_field :number
  %p
    = f.label :ppn
    %br
    = f.text_field :ppn
  %p
    = f.label :due_date
    %br
    = f.date_select :due_date
  %p
    = f.label :top
    %br
    = f.text_field :top
  %p
    = f.submit
