- title "Sales Invoices"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Sales', 'Sales Invoices' ] |
  #top_right_link
    - form_for @search do |f|
      = f.text_field :number_like
      = f.submit 'search'


  = sidemenu @tab

= hint 'Click "Create Sales Invoice" button to add new Invoice. Pleas use Number Sales Invoice for search quickly'

#subheader
  %h3 Sales Invoices
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create Invoice", new_sales_invoice_path, :class => 'main_link'


%table.list
  %thead
    %tr
      %th Number
      %th Delivery Orders
      %th Due date
      %th.action Action
  %tbody
    - for sales_invoice in @sales_invoices
      %tr
        %td= link_to h(sales_invoice.number), [sales_invoice]
        %td= h sales_invoice.delivery_orders.map(&:number).join(', ')
        %td= h sales_invoice.due_date
        %td.actions
          = link_to image_tag('icons/silk/application_form_edit.png'), edit_sales_invoice_path(sales_invoice)
          = link_to image_tag('icons/silk/delete.png'), sales_invoice_path(sales_invoice), :confirm => 'Are you sure?', :method => :delete
