- title "Sales Invoices"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    link_to('Sales Invoice', sales_invoices_path), |
    "Sales Invoice # #{@sales_invoice.number}" ] |

  = sidemenu @tab

= hint "Click 'edit' to edit"

.two_columns
  %p
    %span.light Delivery Order Number:
    =h @sales_invoice.delivery_order.number
  %p
    %span.light SO Number:
    =h @sales_invoice.number
  %p
    %span.light Customer Name:
    =h @sales_invoice.delivery_order.customer
  %p
    %span.light Due Date:
    =h @sales_invoice.due_date
  %p
    %span.light PPN:
    =h @sales_invoice.ppn

%table.report
  %thead
    %tr
      %th No.
      %th Item
      %th Qty
  %tbody
  - @sales_invoice.delivery_order.entries.each_with_index do |entry, i|
    %tr
      %td.tdr.td_5= (i+1)
      %td= link_to h(entry.item.name), entry.item
      %td.tdr= entry.quantity
