- semantic_form_for [:sales, @quotation] do |f|
  = f.error_messages
  - f.inputs 'Quotations', :class => "form_section" do
    %li#general_transaction_number_input.string.required
      %label{ :for => 'quotation_number' } Number <span class="required">*</span>
      %input{ :type => :text, :size => 50,
              :name => 'quotation[number]',
              :id => 'quotation_number',
              :value => f.object.attributes['number'],
              :class => 'default' }
      %p.inline-errors= f.error_message_on :number, :append_text => ", but <strong><a href='#' rel='#{@number_suggested}' class='number_suggestion'>#{@number_suggestion}</a></strong> is available"
 
    = f.input :customer, :collection => @customer, :label => "Customer Name", :include_blank => "Select Customer", :input_html => { :class => "select" }
    = f.input :tanggal_berlaku, :as => :string, :input_html => { :class => "datepicker" }, :label => "Effective Date"
    = f.input :day, :label => "Days"
    = f.input :hal, :label => "Subject"
    = f.input :penerima, :label => "Attention"
    = f.input :nama_proyek_customer, :label => "Customer Project Name"
    = f.input :keterangan, :input_html => { :rows => 3 }, :label => "Description"
  - f.inputs 'Items', :class => "form_section" do
    %li
      %table.report
        %thead
          %tr
            %th.td_5= check_box_tag 'check_all', 1, nil, :id => "check_master"
            %th Item
            %th.td_5 Qty
            %th Price
            %th.td_5 Disc (%)
            %th Description
        %tfoot
          %tr
            %td &nbsp;
            %td{ :colspan => 6 } &nbsp;
        %tbody
          - f.semantic_fields_for :entries do |ent|
            %tr
              %td.tdc.td_5= ent.check_box :_destroy, :class => "check_slave"
              %td.item
                = ent.text_field :item_name, :class => "item_autocomplete", :size => 58
                = ent.hidden_field :item_id
              %td.tdr.td_5= ent.text_field :quantity, :size => 5, :class => "numbers mr_qty"
              %td.tdr.td_15= ent.text_field :price, :size => 15, :class => "price numbers"
              %td.tdr.td_5= ent.text_field :discount, :size => 5, :class => "numbers mr_qty"
              %td.tdr.td_15= ent.text_field :description, :size => 15, :class => "numbers mr_qty"
  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save Quotation

- content_for :javascripts do
  - javascript_tag do
    :plain
      var insert_fields = true;
      var get_customer_price = true;
      var template = $('tbody tr:last-child').html();
      var regexp1 = new RegExp("\\[(\\d+)\\]", "g");
      var regexp2 = new RegExp("_(\\d+)_", "g");
      var new_id = $('tbody tr').length;
      $(function() {
        $('.select').bind('multiselectclick', function(event, ui) {
          $(this).multiselect('close');
        });
      });
