- title "Quotations"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Sales', 'Quotation' ] |

  = sidemenu @tab

- content_for :main_act do
  = link_to "#{image_tag('icons/silk/add.png')} New Quotations", new_sales_quotation_path, :class => 'main_link'

%table.list
  %thead
    %tr
      %th Number
      %th Tanggal Berlaku
      %th Customer
      %th.actions Actions
  %tbody
    - for quotation in @quotations
      %tr
        %td= link_to h(quotation.number), [:sales, quotation]
        %td= h quotation.tanggal_berlaku
        %td= h quotation.customer.profile.full_name
        %td.actions
          = link_to image_tag('icons/silk/application_form_edit.png'), edit_sales_quotation_path(quotation)
          = link_to image_tag('icons/silk/delete.png'), sales_quotation_path(quotation), :confirm => 'Are you sure?', :method => :delete
