- title "Quotations"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Sales', 'Quotation' ] |

  = sidemenu @tab

- content_for :main_act do
  = link_to "#{image_tag('icons/silk/add.png')} New Quotations", new_sales_quotation_path, :class => 'main_link'

%table.list
  %thead
    %tr
      %th Number
      %th Tanggal Berlaku
      %th Customer
      %th Hal
      %th Penerima
      %th Nama Proyek Customer
      %th Keterangan
      %th.actions Actions
  %tbody
    - for quotation in @quotations
      %tr
        %td
          %strong= h quotation.number
        %td= h quotation.tanggal_berlaku
        %td= h quotation.customer
        %td= h quotation.hal
        %td= h quotation.penerima
        %td= h quotation.nama_proyek_customer
        %td= h quotation.keterangan
        %td.actions
          = link_to image_tag('icons/silk/application_form_edit.png'), edit_purchasing_material_request_path(material_request)
          = link_to image_tag('icons/silk/delete.png'), purchasing_material_request_path(material_request), :confirm => 'Are you sure?', :method => :delete
