- title "Quotations"

#customer
  #customer-title
    =@quotation.customer

%table#meta
  %tr
    %td.meta-head Number #
    %td= @quotation.number
  %tr
    %td.meta-head Date
    %td= @quotation.tanggal_berlaku
  %tr
    %td.meta-head Ammount Due
    %td.cost $870,00

%table#items
  %tr
    %th No.
    %th Item
    %th Qty
    %th Unit Price
    %th Disc (%)
    %th Total Price
  - @quotation.entries.each_with_index do |entry, i|
    %tr.item-row
      %td= (i+1)
      %td.item-name=  entry.item.name
      %td.qty= entry.quantity
      %td.price= entry.price
      %td.qty= entry.discount
      %td.cost= entry.total_price

