- title "Quotations for Sales"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Sales', |
    link_to('Quotations', sales_quotations_path), |
    "Quotations ##{@quotation.number}" ] |

  = sidemenu @tab

- content_for :main_act do
  = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit Quotation", edit_sales_quotation_path(@quotation), :class => 'main_link'
  = link_to "#{image_tag('icons/silk/page_white_acrobat.png')} Export PDF", '#', :class => 'main_link'

#dialog_form
  .two_columns
    %p
      %span.light.transaction_label Number
      %strong= @quotation.number
    %p
      %span.light.transaction_label Due Date
      %strong= @quotation.tanggal_berlaku
    %p
      %span.light.transaction_label Customer Name
      %strong= @quotation.customer_id
    %p
      %span.light.transaction_label Subject
      %strong= @quotation.hal
    %p
      %span.light.transaction_label Attention
      %strong= @quotation.penerima
    %p
      %span.light.transaction_label Customer Project Name
      %strong= @quotation.nama_proyek_customer 
%p
  %span.light.transaction_label Description
%p{ :style => "overflow:hidden; margin-bottom:20px;" }
  %strong= @quotation.keterangan

%table.report
  %thead
    %tr
      %th No.
      %th Item
      %th Qty
  %tbody
  - @quotation.entries.each_with_index do |entry, i|
    %tr
      %td.tdr.td_5= (i+1)
      %td= link_to h(entry.item.name), entry.item
      %td.tdr= entry.quantity
