- semantic_form_for @transaction_type do |f|
  = f.error_messages
  - f.inputs "Transaction Type Data", :class => 'form_section' do
    = f.input :code, :input_html => { :class => :default }
    = f.input :name
    = f.input :description, :input_html => { :rows => 3 }
    = f.input :direction, :as => :radio, :collection => [['In',0],['Out',1],['Both',2]], :wrapper_html => { :class => 'inline' }
    = f.input :alter_date, :label => "Transaction date can be changed", :wrapper_html => { :class => 'one_checkbox' }
    = f.input :alter_stock, :label => "Transaction is affecting stock", :wrapper_html => { :class => 'one_checkbox' }
  %fieldset.buttons
    %button#primary-button{ 'type' => 'submit' }
      = "#{image_tag('icons/silk/disk.png')} Save transaction type"
