- javascript 'custom_checkbox'
- semantic_form_for @transaction_type do |f|
  %p.hints fields marked with <span class='required'>*</span> are required
  - f.inputs do
    = f.input :code, :input_html => { :class => :default }
    = f.input :name
    = f.input :description, :input_html => { :rows => 3 }
    = f.input :direction, :as => :radio, :collection => [['In',0],['Out',1],['Both',2]], :wrapper_html => { :class => 'inline' }
    = f.input :alter_date, :as => :radio, :wrapper_html => { :class => "inline" }, :label => "Transaction date can be changed"
    = f.input :alter_stock, :as => :radio, :wrapper_html => { :class => "inline" }, :label => "Transaction is affecting stock"
  %fieldset.buttons
    %button#primary-button{ 'type' => 'submit' }
      = "#{image_tag('icons/silk/disk.png')} Save transaction type"
