<% title "Down Payment Customer" %>

<p>
  <strong>Company:</strong>
  <%=h @down_payment_customer.company_id %>
</p>
<p>
  <strong>Number:</strong>
  <%=h @down_payment_customer.number %>
</p>
<p>
  <strong>Customer:</strong>
  <%=h @down_payment_customer.customer_id %>
</p>
<p>
  <strong>Value:</strong>
  <%=h @down_payment_customer.value %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @down_payment_customer.description %>
</p>

<p>
  <%= link_to "Edit", edit_down_payment_customer_path(@down_payment_customer) %> |
  <%= link_to "Destroy", @down_payment_customer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", down_payment_customers_path %>
</p>
