- title "Sales Retur"

#customer
  #customer-title Retur Penjualan


%table#meta
  %tr
    %td.meta-head Nomer S.R.
    %td= @sales_return.number
  %tr
    %td.meta-head Nama Customer
    %td= @sales_return.customer
  %tr
    %td.meta-head Tanggal
    %td= @sales_return.tanggal



%table#items
  %tr
    %th.number No.
    %th.quantity Kode Barang
    %th.name Nama Barang
    %th.quantity Qty
    - @sales_return.entries.each_with_index do |entry, i|
      %tr.item-row
        %td= (i+1)
        %td.qty=  entry.item.code
        %td.name=  entry.item.name
        %td.qty= entry.quantity

%p Keterangan:
%p= @sales_return.description

