- title "Item Receipt"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Purchasing', |
    link_to('Item Receipts', purchasing_item_receives_path), |
    "#{@item_receive.number}" ] |

  = sidemenu @tab

= hint 'Click "Edit" to edit item receive'

#subheader
  %h3= "Item Receipt # #{@item_receive.number}"
  #subheader-menu
    = link_to "#{image_tag('icons/silk/arrow_left.png')} back to list", purchasing_item_receives_path
    &bull;
    = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit", edit_purchasing_item_receife_path(@item_receive)
    &bull;
    = link_to "#{image_tag('icons/silk/delete.png')} delete", purchasing_item_receife_path(@item_receive), :method => :delete, :confirm => "Are you sure"

%fieldset.form_section
  %legend Material Request
  .two_columns
    %p
      %span.light Number
      %strong= @item_receive.number
    %p
      %span.light Date
      %strong= @item_receive.user_date.to_s(:long)
  .two_columns
    %p
      %span.light Purchase Order
      %strong= link_to @item_receive.purchase_order.number, [:purchasing, @item_receive.purchase_order]
  %p.single-column
    %span.light Remark
    %strong= @item_receive.remark

%fieldset.form_section
  %legend Items
  %table.report
    %thead
      %tr
        %th No.
        %th Item
        %th Qty
    %tbody
    - @item_receive.entries.each_with_index do |entry, i|
      %tr
        %td.tdr.td_5= (i+1)
        %td
          %p= link_to h(entry.item.name), entry.item
        %td.tdr= entry.quantity
