- title "Currencies"

- content_for :breadcrumb do
  = breadcrumb [ link_to("Administrations", administrations_path), link_to("Currencies", currencies_path) ]
  #top_right_link
    - form_for @search do |f|
      = f.text_field :code_or_name_or_symbol_like
      = f.submit 'search'

  = sidemenu @tab

= hint 'Click "Create Currency" button to add new Currency'

#subheader
  %h3 Transaction Currency
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create Currency", new_currency_path, :class => 'main_link'

%table.list
  %tr
    %th Code
    %th Name
    %th Symbol
    %th Default
    %th.actions Actions
  - for currency in @currencies
    %tr
      %td= link_to h(currency.code), currency
      %td= h currency.name
      %td= h currency.symbol
      %td.tdc= image_tag('icons/silk/flag_green.png') if currency.default?
      %td.actions
        = link_to image_tag('icons/silk/application_form_edit.png'), edit_currency_path(currency)
        = link_to image_tag('icons/silk/delete.png'), currency_path(currency), :confirm => 'Are you sure?', :method => :delete
