<% cache do %>
  <% title "Kurs ID" %>
  <% javascript 'warehouse' %>
  <% javascript 'custom_checkbox' %>
  
  <% content_for :breadcrumb do %>
    <%= breadcrumb [ link_to("Administrations", administrations_path),
                     link_to("Kurs ID", kurs_ids_path) ] %>
  <% end -%>

  <% content_for :main_act do %>
    <%= link_to "#{image_tag('icons/silk/add.png')} Create new Kurs ID", new_kurs_id_path, :class => "main_link new_edit_kurs_id", :title => "Create new Kurs ID" %>
  <% end -%>

  <%= sidemenu %>

  <table class="list">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Symbol</th>
    <th class="action">Action</th>
  </tr>

<% @kurs_ids.each do |kurs_id| %>
  <tr>
    <td><%=h kurs_id.code %></td>
    <td><%=h kurs_id.name %></td>
    <td><%=h kurs_id.symbol %></td>
    <td class="actions">
    <%= link_to image_tag('icons/silk/application_form_edit.png'), edit_kurs_id_path(kurs_id), :class => 'new_edit_kurs_id', :title => "Edit #{kurs_id.name}" %>
    <%= link_to image_tag('icons/silk/delete.png'), kurs_id, :confirm => 'Are you sure?', :method => :delete, :title => "Delete #{kurs_id.name}" %>
    </td>
  </tr>
<% end %>
</table>
<% end %>
