<p>
  <b>Code:</b>
  <%=h @kurs_id.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @kurs_id.name %>
</p>

<p>
  <b>Symbol:</b>
  <%=h @kurs_id.symbol %>
</p>


<%= link_to 'Edit', edit_kurs_id_path(@kurs_id) %> |
<%= link_to 'Back', kurs_ids_path %>