<% title "Project #{@project.name}" %>

<div id='subheader'>
  <h3><%=h "#{@project.number} :: #{@project.name}" %></h3>
  <div id='subheader-menu'>
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", projects_path %> &bull;
    <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} edit material", edit_project_material_request_path(@project), :title => "Edit project #{@project.number} materials" %>
  </div>
</div>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Transactions", transactions_path),
    link_to("Projects", projects_path),
    link_to(@project.number, @project),
    "Edit materials" ] %>
<% end -%>

<%= sidemenu %>
<%= hint "Click 'edit' to edit this project" %>

<% form_for @material_request, :url => project_material_request_path(@material_request.project) do |f| %>
  <%= f.error_messages %>
  <table class="report">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tfoot>
      <tr><td colspan="2"><button type="submit">Save materials</button></td></tr>
    </tfoot>
    <tbody>
      <% f.fields_for :entries do |mre| %>
        <tr>
          <td>
            <%= mre.text_field :item_name, :class => "item_autocomplete", :size => 58 %>
            <%= mre.hidden_field :item_id %>
          </td>
          <td class="tdc">
            <%= mre.text_field :quantity, :class => "numbers mr_qty", :size => 5 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
