- form_for @item_receive do |f|
  = f.error_messages
  %p
    = f.label :purchase_order_id
    %br
    = f.text_field :purchase_order_id
  %p
    = f.label :number
    %br
    = f.text_field :number
  %p
    = f.label :user_date
    %br
    = f.date_select :user_date
  %p
    = f.label :remark
    %br
    = f.text_field :remark
  %p
    = f.submit
