- semantic_form_for @direct_sale do |f|
  = f.error_messages
  - f.inputs 'Direct Sale', :class => "form_section" do
    %li#general_transaction_number_input.string.required
      %label{ :for => 'direct_sale_number' } Number <span class="required">*</span>
      %input{ :type => :text, :size => 50,
              :name => '_direct_sale[number]',
              :id => 'direct_sale_number',
              :value => f.object.attributes['number'],
              :class => 'default' }
      %p.inline-errors= f.error_message_on :number, :append_text => ", but <strong><a href='#' rel='#{@number_suggested}' class='number_suggestion'>#{@number_suggestion}</a></strong> is available"

    = f.input :tanggal, :as => :string, :input_html => { :class => "datepicker" }, :label => "Date"
    = f.input :customer_id, :as => :hidden
    = f.input :customer_name, :label => "Customer Name", :as => :string
    = f.input :salesman, :collection => @salesman, :label => "Salesman", :include_blank => "select Salesman", :input_html => { :class => "select filter"}
    = f.input :currency, :label => "Currency", :collection => @currencies, :include_blank => "Currency", :input_html => { :class => "select "}
    = f.input :currency_rate, :label => "Rate"
    = f.input :top, :label => "Payment Term"
    = f.input :description, :input_html => { :rows => 3 }

  - f.inputs 'Items', :class => "form_section" do
    %li
      %table.report
        %thead
          %tr
            %th.td_5= check_box_tag 'check_all', 1, nil, :id => "check_master"
            %th Item
            %th.td_5 Qty
            %th Unit Price
            %th.td_5 Disc (%)
            %th Total Price
            %th Description
        %tfoot
          %tr
            %td &nbsp;
            %td.tdr{ :colspan => 4 } Summary Total = 
            %td#total_price.tdr
            %td
        %tbody
          - f.semantic_fields_for :entries do |ent|
            %tr
              %td.tdc.td_5= ent.check_box :_destroy, :class => "check_slave"
              %td.item
                = ent.text_field :item_name, :class => "item_autocomplete", :size => 58
                = ent.hidden_field :item_id
              %td.tdr.td_5= ent.text_field :quantity, :size => 5, :class => "numbers mr_qty calc"
              %td.tdr.td_15= ent.text_field :price, :size => 15, :class => "numbers mr_price calc"
              %td.tdr.td_5= ent.text_field :diskon, :size => 5, :class => "numbers mr_disc calc"
              %td.tdr.td_5= ent.text_field :total_price, :size => 15, :class => "number sub_total"
              %td.tdr
                - if ent.object.description.blank?
                  = link_to image_tag('icons/silk/comment.png'), '#', :class => "popup_handle"
                - else
                  = link_to image_tag('icons/silk/comment_filled.png'), '#', :class => "popup_handle"
                %p.popup_note.should_hidden= ent.text_field :description, :class => "pop_input default"
                = link_to image_tag('icons/silk/cross.png'), '#', :class => "row_remover"
           
 
  %fieldset.buttons
    %button{ :type => "submit", :id => 'primary-button' }
      = image_tag 'icons/silk/disk.png'
      Save Direct Sale

- content_for :javascripts do
  - javascript_tag do
    var insert_fields = true;
    var latest_rates = {};
    - for curr in current_company.currencies
      = "latest_rates[#{curr.id}] = #{curr.latest_rate.value};"
    :plain
      var template = $('tbody tr:last-child').html();
      var regexp1 = new RegExp("\\[(\\d+)\\]", "g");
      var regexp2 = new RegExp("_(\\d+)_", "g");
      var new_id = $('tbody tr').length;
      function multiselect_response() {
        $('#direct_sale_currency_id').bind('multiselectclick', function(event, ui) {
          var curr = $(this).multiselect('getChecked');
          $('#direct_sale_currency_rate').val(latest_rates[curr[0].value]);
          $(this).multiselect('close');
          //return false;
        });
      }
      $('.calc').live('keyup', function() {
        var row = $(this).parents('tr');
        var price = row.find('.mr_price')[0];
        var qty = row.find('.mr_qty')[0];
        var disc = row.find('.mr_disc')[0];
        var before_disc = parseInt(price.value) * parseInt(qty.value);
        var disc_val = (before_disc * parseInt(disc.value)) / 100;
        var after_disc = before_disc - disc_val;
        row.find('.sub_total').val(after_disc);
        var total = 0;
        var form = $(this).parents('form')
        form.find('.sub_total').each(function(index, element) {
          if (element.value != '') total += parseInt(element.value);
        });
        form.find('#total_price').html(total);
      });
      $(function() {
        multiselect_response();
      });
