- title "Customer Prices"

- cache do
  - content_for :breadcrumb do
    = breadcrumb [ link_to('Administration', administrations_path), |
      link_to('Customers', customers_path), |
      link_to("#{@customer.code} &bull; #{@customer.profile.full_name}", @customer), |
      'Special Prices' ] |

  - content_for :main_act do
    = link_to "#{image_tag('icons/silk/add.png')} Add Special Prices", new_customer_customer_price_path(@customer), :class => 'main_link'

  %table#customer_prices.list.top_align
    %tr
      %th.number.index No.
      %th Item
      %th Prices
      %th.actions Actions
      - @customer.special_prices_matrix.each_with_index do |price, i|
        %tr
          %td.numbers.index= i+1
          %td
            =h price[1]['item'].code
            %br
            =h price[1]['item'].name
          %td.string
            - for p in price[1]['prices']
              .customer_prices.inline.box_blue
                = number_to_currency(p.price, :unit => "Rp. ", :delimiter => ".", :precision => 0)
                %br
                %p.inline-hints.inline-labels= p.unit.name
          %td.actions= link_to "edit", '#'
