- title 'Edit Customer Special Prices'

- content_for :breadcrumb do
  = breadcrumb [ link_to('Administration', administrations_path), |
    link_to('Customers', customers_path), |
    link_to("#{@customer.code} &bull; #{@customer.profile.full_name}", @customer), |
    'Special Prices' ] |

- if @step == 1
  %h1 Select item(s)
  %h5
    Item not listed here is already have special price(s) for you, you may want to
    = link_to 'edit them', edit_prices_customer_customer_prices_path(@customer, :item => @item_with_special_price)
    instead
  - semantic_form_for @customer, :url => new_customer_customer_price_path(@customer), :html => { :method => :get } do |f|
    %table.list
      %thead
        %tr
          %th.tdc= check_box_tag "all", 1, nil, :id => "check_master"
          %th Item Code
          %th Item name
      %tfoot
        %tr
          %td &nbsp;
          %td{ :colspan => 2, :class => "tdr" }
            = will_paginate @items
            = hidden_field_tag :step, @step.to_i + 1
            %button{ :type => "submit" }
              Continue
              = image_tag 'icons/silk/arrow_right.png'
      %tbody
        - for item in @items
          %tr
            %td.td_5.tdc= check_box_tag 'item[]', item.id, nil, :id => "item_#{item.id}", :class => "check_slave"
            %td=h item.code
            %td=h item.name
- elsif @step == 2
  %h1 Input prices
  - form_for @customer, :url => { :controller => 'customer_prices', :action => :create }, :html => { :method => :post } do |f|
    %table.list
      %thead
        %tr
          %th.td_5 No. 
          %th Item name
          %th Prices
      %tfoot
        %tr
          %td{ :colspan => 3, :class => "tdr" }
            %button{ :type => "submit" }
              = image_tag 'icons/silk/disk.png'
              Save special prices
      %tbody
        - current_item = nil
        - idx = 1
        - f.fields_for :special_prices do |sp|
          - if sp.object.new_record?
            - if current_item.nil? || current_item != sp.object.item.id
              = "</td></tr>" unless current_item.nil?
              - current_item = sp.object.item.id
              <tr>
              = "<td style='vertical-align:top;'>#{idx}</td>"
              = "<td style='vertical-align:top;'>#{h sp.object.item.name}</td>"
              <td class="string">
              <div class="inline">
              = sp.text_field :price, :size => 10, :value => (sp.object.price || sp.object.unit.value || 0), :class => "numbers"
              = sp.hidden_field :item_id
              = sp.hidden_field :unit_id
              = "<p class='inline-hints inline-labels'>#{h sp.object.unit.name}</p>"
              </div>
              - idx = idx + 1
            - else
              <div class="inline">
              = sp.text_field :price, :size => 10, :value => (sp.object.price || sp.object.unit.value || 0), :class => "numbers"
              = sp.hidden_field :item_id
              = sp.hidden_field :unit_id
              = "<p class='inline-hints inline-labels'>#{h sp.object.unit.name}</p>"
              </div>
        </td></tr>
