- title "Purchasing :: Purchase Returns"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Purchasing', 'Purchase Returns' ] |

  = sidemenu @tab


= hint 'Click "Create Purchase Return" button to add new Purchase Return'
#subheader
  %h3 Purchase Returns
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create Purchase Retur", new_purchasing_purchase_return_path, :class => 'main_link'

%table.list
  %thead
    %tr
      %th.td_5 No.
      %th Number
      %th Supplier
      %th PO Number
      %th.actions Actions
  %tfoot
    %tr
      %td{ :colspan => 5 }= will_paginate @purchase_returns
  %tbody
    - @purchase_returns.each_with_index do |purchase_return, i|
      %tr
        %td.td_5.tdr= (i+1)
        %td
          %strong= link_to h(purchase_return.number), [:purchasing, purchase_return]
        %td= h purchase_return.supplier.name
        %td= h purchase_return.purchase_order.try(:number)
        %td.actions
          = link_to image_tag('icons/silk/application_form_edit.png'), edit_purchasing_purchase_return_path(purchase_return)
          = link_to image_tag('icons/silk/delete.png'), purchasing_purchase_return_path(purchase_return), :confirm => 'Are you sure?', :method => :delete
