- title "Purchase Retur"

#customer
  #customer-title Retur Pembelian

%table#meta
  %tr
    %td.meta-head Nomer #
    %td= @purchase_return.number
  %tr
    %td.meta-head Nomer P.O.
    %td= @purchase_return.purchase_order.nil? ? '-' : @purchase_return.purchase_order.number
  %tr
    %td.meta-head Tanggal
    %td= @purchase_return.user_date.to_s(:long)
  %tr
    %td.meta-head Nama Pemasok
    %td= @purchase_return.supplier.name_and_address


%table#items
  %tr
    %th.number No.
    %th.quantity Kode Barang
    %th.name Nama Barang
    %th.quantity Qty
  - @purchase_return.entries.each_with_index do |entry, i|
    %tr.item-row
      %td= (i+1)
      %td.qty=  entry.item.code
      %td.name=  entry.item.name
      %td.qty= entry.quantity

%p Remark :
%p= @purchase_return.remark

