<h1>Listing quotation_entries</h1>

<table>
  <tr>
    <th>Quotation</th>
    <th>Item</th>
    <th>Quantity</th>
  </tr>

<% @quotation_entries.each do |quotation_entry| %>
  <tr>
    <td><%=h quotation_entry.quotation_id %></td>
    <td><%=h quotation_entry.item_id %></td>
    <td><%=h quotation_entry.quantity %></td>
    <td><%= link_to 'Show', quotation_entry %></td>
    <td><%= link_to 'Edit', edit_quotation_entry_path(quotation_entry) %></td>
    <td><%= link_to 'Destroy', quotation_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quotation_entry', new_quotation_entry_path %>