<h1>New quotation_entry</h1>

<% form_for(@quotation_entry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :quotation_id %><br />
    <%= f.text_field :quotation_id %>
  </p>
  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', quotation_entries_path %>