<p>
  <b>Item:</b>
  <%=h @material_allocation.item_id %>
</p>

<p>
  <b>Transaction ref:</b>
  <%=h @material_allocation.transaction_ref %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @material_allocation.quantity %>
</p>


<%= link_to 'Edit', edit_material_allocation_path(@material_allocation) %> |
<%= link_to 'Back', material_allocations_path %>