- semantic_form_for(@price_list) do |f|
  = f.error_messages
  - f.inputs "Price List Data", :class => 'form_section' do
    = f.input :code, :label => "Price list code"
    = f.input :name, :label => "Price list name"
    %li.string
      = f.label :active_from, "Active"
      .inline
        = f.text_field :active_from, :size => 20, :class => "datepicker"
        %br
        %p.inline-hints.inline-labels From
      .inline
        = f.text_field :active_until, :size => 20, :class => "datepicker"
        %br
        %p.inline-hints.inline-labels Until
  - current_item = nil
  - idx = 1
  %fieldset.form_section
    %legend Items
    %table.report
      %thead
        %tr
          %th.td_5 #
          %th.td_30 Item
          %th Prices
          %th.td_5 &nbsp;
      %tfoot
        %tr
          %td{ :colspan => 4 }
            = label_tag :item, "Enter item code or name", :style => "display:inline-block;width:25%;"
            = text_field_tag "item_getter", nil, :class => "item_autocomplete", :id => "item", :style => "width:74% !important;margin-left:-4px;"
      %tbody{ :style => "background:none repeat scroll 0 0 #F2F2F2;" }
        - f.semantic_fields_for :entries do |ent|
          - if current_item.nil? || current_item != ent.object.item.id
            - unless current_item.nil?
              </td>
              <td class='td_5 tdr' style="vertical-align:top;">
              = link_to image_tag('icons/silk/cross.png'), '#', :class => "unit_remover", :title => "remove this item from price list"
              </td>
              </tr>
            - current_item = ent.object.item.id
            <tr>
            = "<td style='vertical-align:top;' class='index td_5'>#{idx}</td>"
            = "<td style='vertical-align:top;' class='td_30''>#{link_to h(ent.object.item.name), ent.object.item}</td>"
            <td class="string" style="float:right;">
            <div class="inline" style="margin:0 0 0 1em;">
            = ent.text_field :value, :size => 10, :value => (ent.object.value || ent.object.unit.value || 0), :class => "numbers"
            = ent.hidden_field :item_id
            = ent.hidden_field :unit_id
            = ent.hidden_field :_destroy
            = "<p class='inline-hints inline-labels'>#{h ent.object.unit.name} (#{number_to_currency(ent.object.unit.value, :unit => 'Rp. ', :precision => 0, :delimiter => '.')})</p>"
            </div>
            - idx = idx + 1
          - else
            <div class="inline" style="margin:0 0 0 1em;">
            = ent.text_field :value, :size => 10, :value => (ent.object.value || ent.object.unit.value || 0), :class => "numbers"
            = ent.hidden_field :item_id
            = ent.hidden_field :unit_id
            = ent.hidden_field :_destroy
            = "<p class='inline-hints inline-labels'>#{h ent.object.unit.name} (#{number_to_currency(ent.object.unit.value, :unit => 'Rp. ', :precision => 0, :delimiter => '.')})</p>"
            </div>
        - unless @price_list.entries.blank?
          </td>
          <td class='td_5 tdr' style="vertical-align:top;">
          = link_to image_tag('icons/silk/cross.png'), '#', :class => "unit_remover", :title => "remove this item from price list"
          </td>
          </tr>
      
  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save price list

- content_for :javascripts do
  - javascript_tag do
    var insert_fields = false;
    var insert_units = true;
    $(function() {
    $('tbody tr input[type=text]:last').live('blur', function() { $('#item').focus() });
    });
