<% semantic_form_for @material_request, :url => [@project, @material_request] do |f| %>
  <%= f.error_messages %>
  <% f.inputs "Material Request", :class => "form_section" do %>
    <li class="string">
      <label>Number</label>
      <%= f.object.number %>
      <%= f.hidden_field :number %>
    </li>
    <%= f.input :description, :input_html => { :rows => 2 } %>
    <%= f.input :requester %>
    <li>
      <table class="report">
        <thead>
          <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Est. Delivery</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr><td colspan="4"></td></tr>
        </tfoot>
        <tbody>
          <% f.semantic_fields_for :entries do |en| %>
            <tr>
              <td>
                <%= en.text_field :item_name, :class => 'item_autocomplete' %>
                <%= en.hidden_field :item_id %>
              </td>
              <td class="td_5"><%= en.text_field :quantity, :class => "numbers", :size => 8 %></td>
              <td class="td_20"><%= en.text_field :estimated_delivery_date, :class => "datepicker" %></td>
              <td class="tdr td_5">
                <% if en.object.note.blank? %>
                  <%= link_to(image_tag('icons/silk/comment.png'), '#', :class => "popup_handle") %>
                <% else %>
                  <%= link_to(image_tag('icons/silk/comment_filled.png'), '#', :class => "popup_handle") %>
                <% end %>
                <p class="popup_note should_hidden"><%= en.text_field :note, :class => "pop_input default" %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </li>
  <% end %>
  <fieldset class="buttons">
    <button type="submit" id="primary-button"><%= image_tag('icons/silk/disk.png') %> Save material request</button>
  </fieldset>
<% end %>
