- title "Edit Customer"


- content_for :breadcrumb do
  = breadcrumb [ link_to('Administrations', administrations_path), |
    link_to("Customers", customers_path), |
    link_to("#{h @customer.code} &bull; #{h @customer.profile.full_name}", customer_path(@customer)), |
    "Edit" ] |

= sidemenu @tab

= render :partial => 'form'
