- title "Customer"
- cache do
  #dialog_form

    - content_for :breadcrumb do
      = breadcrumb [ link_to('Administration', administrations_path), |
        link_to('Customers', customers_path), |
        "#{@customer.code} &bull; #{@customer.profile.full_name}" ] |

    - content_for :main_act do
      = link_to "#{image_tag('icons/silk/user_edit.png')} Edit Customer", edit_customer_path(@customer), :class => 'main_link'
      %ul#secondary_actions
        %li= link_to "Special Prices", customer_customer_prices_path(@customer)
      
    = hint ""

    %fieldset#profile.info
      %legend Profile
      %div
        %span.light.transaction_label Code
        %p= @customer.code
      %div
        %span.light.transaction_label Full Name
        %p= @customer.profile.full_name
      %div
        %span.light.transaction_label Address
        %p= @customer.profile.address
      %div
        %span.light.transaction_label Phone / Fax
        %p= "#{@customer.profile.phone} / #{@customer.profile.fax}"
    %fieldset#tax-profile.info
      %legend Tax Information
      %div
        %span.light.transaction_label Full Name
        %p= @customer.tax_profile.full_name
      %div
        %span.light.transaction_label Address
        %p= @customer.tax_profile.address
      %div
        %span.light.transaction_label NPWP
        %p= @customer.tax_profile.npwp_number
    %fieldset#prices.info
      %legend Special Prices
      %table.list.top_align
        %tr
          %th.numbers.index No
          %th Item
          %th Prices
          %th.actions Actions
        - @customer.special_prices_matrix.each_with_index do |price, i|
          %tr
            %td.numbers.index= i+1
            %td
              = link_to h(price[1]['item'].code), item_path(price[1]['item'])
              %br
              =h price[1]['item'].name
            %td.string
              - for p in price[1]['prices']
                .customer_prices.inline.box_blue
                  = number_to_currency(p.price, :unit => "Rp. ", :delimiter => ".", :precision => 0)
                  %br
                  %p.inline-hints.inline-labels= p.unit.name
            %td.actions= link_to image_tag('icons/silk/application_form_edit.png'), edit_prices_customer_customer_prices_path(@customer, :item => price[1]['item'].id), :title => "edit special prices"
