- title "Customer"
#dialog_form

  - content_for :breadcrumb do
    = breadcrumb [ link_to('Administration', administrations_path), |
      link_to('Customers', customers_path), |
      "#{@customer.code} &bull; #{@customer.profile.full_name}" ] |

  #subheader
    %h3= "#{@customer.profile.full_name}"
    #subheader-menu
      = link_to "#{image_tag('icons/silk/arrow_left.png')} back", customers_path
      &bull;
      = link_to "#{image_tag('icons/silk/add.png')} Add special Prices", new_customer_customer_price_path(@customer)
      &bull;
      = link_to "#{image_tag('icons/silk/user_edit.png')} edit", edit_customer_path(@customer)

  = hint ""

  %fieldset#profile.info
    %legend Profile
    %div
      %span.light.transaction_label Code
      %p= @customer.code
    %div
      %span.light.transaction_label Full Name
      %p= @customer.profile.full_name
    %div
      %span.light.transaction_label Address
      %p= @customer.profile.address
    %div
      %span.light.transaction_label Phone / Fax
      %p= "#{@customer.profile.phone} / #{@customer.profile.fax}"
  %fieldset#tax-profile.info
    %legend Tax Information
    - unless @customer.tax_profile.blank?
      %div
        %span.light.transaction_label Full Name
        %p= @customer.tax_profile.full_name
      %div
        %span.light.transaction_label Address
        %p= @customer.tax_profile.address
      %div
        %span.light.transaction_label NPWP
        %p= @customer.tax_profile.npwp_number
  %fieldset#prices.info
    %legend= link_to "Special Prices", customer_customer_prices_path(@customer)
    = render 'special_prices'
