- cache do
  - semantic_form_for @quotation do |f|
    = f.error_messages
    - f.inputs do
      = f.input :number, :input_html => {:class => 'default'}
      
      = f.input :tgl_berlaku, :as => :string, :input_html => {:class => 'datepicker', :size => '20'}, :label => 'Tanggal Berlaku'
      = f.input :customer, :collection => current_company.customers, :include_blank => 'Select Customer' 
      = f.input :hal, :input_html => {:class => 'default'}
      = f.input :penerima, :input_html => {:class => 'default'}, :label => 'Penerima'
      = f.input :nama_perlatan, :input_html => {:class => 'default'}, :label => 'Nama Peralatan'
      = f.input :nama_proyek, :input_html => {:class => 'default'}, :label => 'Nama Proyek'
      = f.input :keterngan, :input_html => { :rows => 3 }, :label => 'Keterangan'

      %fieldset.buttons
        %button{ :type => :submit } #{image_tag 'icons/silk/disk.png'} Save Quotations
