<h1>Editing quotation</h1>

<% form_for(@quotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </p>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </p>
  <p>
    <%= f.label :tgl_berlaku %><br />
    <%= f.date_select :tgl_berlaku %>
  </p>
  <p>
    <%= f.label :hal %><br />
    <%= f.text_field :hal %>
  </p>
  <p>
    <%= f.label :memo %><br />
    <%= f.text_field :memo %>
  </p>
  <p>
    <%= f.label :keterngan %><br />
    <%= f.text_area :keterngan %>
  </p>
  <p>
    <%= f.label :penerima %><br />
    <%= f.text_field :penerima %>
  </p>
  <p>
    <%= f.label :nama_perlatan %><br />
    <%= f.text_field :nama_perlatan %>
  </p>
  <p>
    <%= f.label :nama_proyek %><br />
    <%= f.text_field :nama_proyek %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quotation %> |
<%= link_to 'Back', quotations_path %>