<% cache do %>
  <% title "Quotations" %>

  <% content_for :breadcrumb do %>
    <%= breadcrumb [ link_to("Transactions", transactions_path),
                     link_to("Quotations", quotations_path) ] %>
  <% end -%>
  <table width='100%' border='1'>
    <tr>
      <td align="center">
        PD CITRA AMAN <br/>
        FIRE PROTECTION ENGINERING<br />
        Telp: +6221-6914394, 6914393  Fax: +6221 6903159, 6914391<br/>&nbsp;
      </td>
    </tr>
    <tr>
      <td>
          <table width="100%">
            <tr>
                <td>Ref : <%=h @quotation.number %></td>
                <td align="right">Jakarta, <%= Time.now.strftime("%m-%d-%Y") %></td>
            </tr>
            <tr>
              <td><br /><br /><br />Kepada Yth. <br /> <b>PT.<%=h @quotation.customer.profile.full_name %></b><br /><%=h @quotation.customer.profile.address %></td>
            </tr>
          </table>
      </td>
    </tr>
  </table>
<p>
  <b>Number:</b>
  <%=h @quotation.number %>
</p>

<p>
  <b>Company:</b>
  <%=h @quotation.company_id %>
</p>

<p>
  <b>Customer:</b>
  <%=h @quotation.customer_id %>
</p>

<p>
  <b>Tgl berlaku:</b>
  <%=h @quotation.tgl_berlaku %>
</p>

<p>
  <b>Hal:</b>
  <%=h @quotation.hal %>
</p>

<p>
  <b>Memo:</b>
  <%=h @quotation.memo %>
</p>

<p>
  <b>Keterngan:</b>
  <%=h @quotation.keterngan %>
</p>

<p>
  <b>Penerima:</b>
  <%=h @quotation.penerima %>
</p>

<p>
  <b>Nama perlatan:</b>
  <%=h @quotation.nama_perlatan %>
</p>

<p>
  <b>Nama proyek:</b>
  <%=h @quotation.nama_proyek %>
</p>


<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>

<% end %>
