<% title 'Dashboard' %>
<% content_for :breadcrumb do %>
  <%= breadcrumb [ "Dashboard" ] %>
<% end -%>

<%= sidemenu %>

<% unless @unconfirmed_item_receives.blank? %>
  <h3 id="">Unconfirmed Item Receive</h3>
  <ol class="dashboard">
    <% for record in @unconfirmed_item_receives %>
      <li>
        <%= "#{link_to(record.number, purchasing_item_receife_path(record))} \"#{record.remark}\" totaling #{pluralize(record.entries.size, 'item')}" %>
        <%= link_to "click here to confirm", confirmation_purchasing_item_receife_path(record) %>
      </li>
    <% end %>
  </ol>
  <hr/>
<% end %>

<% unless @open_purchase_orders.blank? %>
  <h3 id="">Open Purchase Orders</h3>
  <ol class="dashboard">
    <% for record in @open_purchase_orders %>
      <li>
        <%= "#{link_to(record.number, purchasing_purchase_order_path(record))} \"#{truncate(record.notes)}\" totaling #{pluralize(record.entries.size, 'item')}," %>
        <%= link_to "close manually", manual_close_purchasing_purchase_order_path(record) %>
      </li>
    <% end %>
  </ol>
<% end %>

<% unless @minus_items.blank? %>
  <h3 id="">Items with stock &lt;= 0</h3>
  <table class="report">
    <thead>
      <tr>
        <th>No</th>
        <th>Item Code</th>
        <th>Item Name</th>
        <th>Current Stock</th>
      </tr>
    <thead>
    <% @minus_items.each_with_index do |item, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= item.code %></td>
        <td><%= item.name %></td>
        <td><%= item.stock %></td>
      </tr>
    <% end %>
  </table>
<% end %>
