<% title "Purchasing :: Search Results" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [link_to('Transactions', transactions_path), link_to("Purchasing", purchasing_path), "Search Results"] %>
<% end %>

<ol id="dashboard">
  <li>
    <h2><%= link_to "Material Requests", purchasing_material_requests_path %></h2>
    <ol>
      <% for rec in @results[:material_requests] %>
        <li><%= link_to rec.number, [:purchasing, rec]%></li>
      <% end %>
    </ol>
  </li>
  <li>
    <h2><%= link_to "Quotation Requests", purchasing_quotation_requests_path %></h2>
    <ol>
      <% for rec in @results[:quotation_requests] %>
        <li><%= link_to rec.number, [:purchasing, rec]%></li>
      <% end %>
    </ol>
  </li>
  <li>
    <h2><%= link_to "Purchase Orders", purchasing_purchase_orders_path %></h2>
    <ol>
      <% for rec in @results[:purchase_orders] %>
        <li><%= link_to rec.number, [:purchasing, rec]%></li>
      <% end %>
    </ol>
  </li>
  <li>
    <h2><%= link_to "Item Receives", purchasing_item_receives_path %></h2>
    <ol>
      <% for rec in @results[:item_receives] %>
        <li><%= link_to rec.number, [:purchasing, rec]%></li>
      <% end %>
    </ol>
  </li>
  <li>
    <h2><%= link_to "Purchase returns", purchasing_purchase_returns_path %></h2>
    <ol>
      <% for rec in @results[:purchase_returns] %>
        <li><%= link_to rec.number, [:purchasing, rec]%></li>
      <% end %>
    </ol>
  </li>
  <li>
    <h2><%= link_to "Invoices", purchasing_invoices_path %></h2>
    <ol>
      <% for rec in @results[:invoices] %>
        <li><%= link_to rec.number, [:purchasing, rec]%></li>
      <% end %>
    </ol>
  </li>
  <li>
    <h2>Search Sales Transaction</h2>
    <% form_tag '/purchasing/search', :class => "dashboard_search" do %>
      <p>
        <%= text_field_tag 'term', @term, :class => :big %>
        <%= submit_tag "Search" %>
      </p>
      <p class="inline-hints light">Enter the transaction number you wish to search</p>
    <% end %>
  </li>
</ol>