- title "Deliveyr Orders Report"
= hint "Select the kind of report you want to see"
- content_for :breadcrumb do
  = breadcrumb [ link_to('Reports', reports_path), |
    "Delivery Orders" ] |

%fieldset.plain
  %legend Filter
  - form_tag reports_delivery_orders_path, :method => :get do
    %p.date_range
      = label_tag 'until', 'Report per '
      = text_field_tag 'until', @until, :class => 'datepicker'
      %button{ :type => :submit } Go
      = link_to "#{image_tag('icons/silk/page_white_acrobat.png')} download PDF", reports_delivery_orders_path(:format => :pdf)

#items
  %table.list
    %tr
      %th DO Number
      %th Date
      %th Cust. ID
      %th Cust. Name
    - for delivery_order in @delivery_orders
      %tr
        %td= delivery_order.number
        %td= delivery_order.do_date
        %td= deliveyr_order.customer_id
        %td= delivery_order.customer
