- semantic_form_for @salesman do |f|
  = f.error_messages
  - f.inputs "Salesmen", :class => "form_section" do
    = f.input :code, :label => "Code of Salesman"
    
  - f.inputs "Profile", :class => "form_section" do
    - f.semantic_fields_for :profile do |p|
      %li.string
        = p.label :first_name, "Full name"
        .inline
          = p.text_field :first_name
          %br
          %p.inline-hints.inline-labels First name
        .inline
          = p.text_field :last_name
          %br
          %p.inline-hints.inline-labels Last name
      = p.input :address, :input_html => { :rows => 2, :cols => 30 }
    %fieldset.buttons
      %button{ :type => "submit", :id => 'primary-button' }
        = image_tag 'icons/silk/disk.png'
        Save Salesman
