- title "Salesmen"

- content_for :breadcrumb do
  = breadcrumb [ link_to("Administrations", administrations_path), link_to("Salesmen", salesmen_path) ]

  = sidemenu @tab

- content_for :main_act do
  = link_to "#{image_tag('icons/silk/add.png')} New Salesmen", new_salesman_path, :class => 'main_link'


%table.list
  %tr
    %th Code
    %th Profile
    %th.actions Actions
  - for salesman in @salesman
    %tr
      %td= link_to h(salesman.code)
      %td= h salesman.profile_id
      %td.actions
        = link_to image_tag('icons/silk/application_form_edit.png'), edit_salesman_path(salesman)
        = link_to image_tag('icons/silk/delete.png'), salesman_path(salesman), :confirm => 'Are you sure?', :method => :delete
