- title "Salesman"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Administrations', administrations_path), |
    link_to('Salesmen', salesmen_path), |
    " ##{@salesman.code}" ] |

  = sidemenu @tab

- content_for :main_act do
  = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit Salesman", edit_salesman_path(@salesman), :class => 'main_link'

%p
  %strong Company:
  =h @salesman.company_id
%p
  %strong Profile:
  =h @salesman.profile_id
%p
  %strong Code:
  =h @salesman.code

%p
  = link_to "Edit", edit_salesman_path(@salesman)
  |
  = link_to "Destroy", @salesman, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", salesmen_path
