<% semantic_form_for @project do |f| %>
  <% f.inputs do %>
    <%= f.error_messages %>
    <li class="string">
      <label>Number</label>
      <%= f.object.number %>
      <%= f.input :number, :as => :hidden %>
    </li>
    <%= f.input :name %>
    <%= f.input :customer_id, :as => :hidden %>
    <%= f.input :customer_name, :label => "Customer name", :as => :string %>
    <%= f.input :salesman, :collection => @salesman.collect {|e| ["#{e.fullname} (#{e.profile.address})", e.id]}, :label => "Salesman", :input_html => { :class => "select filter"} %>
    <%= f.input :description, :input_html => { :rows => 3 } %>
  <% end %>
  <fieldset class="buttons">
    <button type="submit" id='primary-button'>
      <%= image_tag 'icons/silk/disk.png' %>
      Save Project
    </button>
  </fieldset>
<% end %>

<% content_for :javascripts do %>
  <% javascript_tag do %>
    $('#project_customer_name').live('focus', function() {
      var input = $(this);
      input.autocomplete({
        source: '/customers/search.js',
        focus: function(event, ui) {$(this).val(ui.item.fullname); return false;},
        select: function(event, ui) {
          $(this).parents('form').find('#project_customer_id').val(ui.item.id);
        }
      })
      .data("autocomplete")
      ._renderItem = function(ul, customers) {
        return $("<li></li>")
        .data("item.autocomplete", customers)
        .append("<a>" + customers.fullname + "</a>")
        .appendTo(ul);
      };
    });
  <% end %>
<% end %>
