<% title "Project #{@project.name}" %>

<div id='subheader'>
  <h3><%=h "#{@project.number} :: #{@project.name}" %></h3>
  <div id='subheader-menu'>
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", projects_path %> &bull;
    <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} edit", edit_project_path(@project), :title => "Edit project #{@project.number}" %> &bull;
    <%= link_to "SPK", project_work_order_path(@project) %>
  </div>
</div>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Transactions", transactions_path),
    link_to("Projects", projects_path),
    @project.number ] %>
<% end -%>

<%= sidemenu %>
<%= hint "Click 'edit' to edit this project" %>

<table class="detailed">
  <tr>
    <td class="keys">Number</td>
    <td class="value"><%=h @project.number %></td>
  </tr>
  <tr>
    <td class="keys">Name</td>
    <td class="value"><%=h @project.name %></td>
  </tr>
  <tr>
    <td class="keys">Customer</td>
    <td class="value"><%= link_to @project.customer.fullname, @project.customer %> ( <%=h @project.customer.profile.phone %>, <%=h @project.customer.profile.address %>)</td>
  </tr>
  <tr>
    <td class="keys">Description</td>
    <td class="value"><%=h @project.description %></td>
  </tr>
</table>

<div class='subheader'>
  <h3>Materials</h3>
  <div id='subheader-menu'>
    <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} edit material", project_materials_path(@project), :title => "Edit project #{@project.number} materials" %> &bull;
    <%= link_to "material requests", project_material_requests_path(@project) %>
  </div>
</div>
<table class="list">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Requested</th>
    <th>Remaining</th>
  </tr>

  <% @project.materials.each do |e| %>
    <tr>
      <td><%= link_to e.title, e.item %></td>
      <td class="numbers"><%=h e.value %></td>
      <td class="numbers"><%=h e.requested_quantity %></td>
      <td class="numbers"><%=h e.unrequested_quantity %></td>
    </tr>
  <% end %>
</table>

<div class='subheader'>
  <h3>Lot Items</h3>
  <div id='subheader-menu'>
    <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} edit lot materials", project_lot_materials_path(@project), :title => "Edit project #{@project.number} lot materials" %>
  </div>
</div>
<table class="list">
  <tr>
    <th>Description</th>
    <th>Value</th>
  </tr>

  <% @project.lot_materials.each do |e| %>
    <tr>
      <td><%=h e.title %> (1 Lot)</td>
      <td class="numbers"><%=h local_currency(e.value) %></td>
    </tr>
  <% end %>
</table>
