<% title "Account :: Company" -%>
<% content_for :breadcrumb do -%>
  <%= 
    breadcrumb [ link_to('Administrations', administrations_path),
    'Company', "#{ link_to current_company.name, current_company }" ]
  %>
<% end %>

<%= sidemenu @tab %>

<%= hint "Company name must be unique" %>

<div id="subheader">
  <h3>Edit <%= current_company.name %></h3>
  <div id="subheader-menu">
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", current_company %>
  </div>
</div>

<% semantic_form_for(@company) do |f| %>
  <%= f.error_messages %>
  <% f.inputs 'Company', :class => 'form_section' do %>
    <%= f.input :name %>
    <%= f.input :address, :input_html => { :rows => 3 } %>
    <%= f.input :phone %>
  <% end %>
  <fieldset class='buttons'>
    <button id='primary-button' type='submit'>
      <%= image_tag 'icons/silk/disk.png' %>
      Save Company
    </button>
  </fieldset>
<% end %>
