- semantic_form_for @trans_assembly do |f|
  = f.error_messages
  - f.inputs "Assembling", :class => "form_section" do
    %li.string
      = f.label :number
      .inline
        = f.text_field :number
        %br
        %p.inline-hints.inline-labels Number
      .inline
        = f.text_field :date, :class => "datepicker"
        %br
        %p.inline-hints.inline-labels Date
 
    = f.input :warehouse, :collection => @warehouses, :as => :select, :label => "Warehouse", :include_blank => "select Warehouse", :input_html => {:class => "select"}
    = f.input :description, :input_html => { :rows => 3 }

  - f.inputs 'Items From Formula Assembling', :class => "form_section" do
    %li
      %table.report
        %thead
          %tr
            %th.td_5 #
            %th Assembled Item Name
            %th Quantity
        %tfoot
          %tr
            %td &nbsp;
            %td{ :colspan => 3 } &nbsp;
        %tbody
          - unless @trans_assembly.entries.blank?
            - idx = 0
            - f.semantic_fields_for :entries do |ent|
              - idx += 1
              %tr
                %td.tdc.td_5= idx
                %td.item
                  = ent.text_field :item_id, :class => "assembled_item_autocomplete"
                %td.tdr.td_15
                  = ent.text_field :quantity, :class => "numbers"


  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save Transaction Assembling


- content_for :javascripts do
  - javascript_tag do
    var insert_fields = true;
    :plain
      function get_entries(form) {
        form.append('<input type="hidden" name="get_ones" value="1"/>');
        $.ajax({
          url: form[0].action,
          type: 'post',
          data: form.serialize(),
          success: function(response, status) {
            var entries = $(response).find('tbody');
            form.find('tbody').html(entries.html());
            $('input[name=get_ones]').remove();
          }
        });
      }
      $(function() {
        $('#trans_assembly_assembly_id').bind('multiselectclose', function(event, ui) {
          get_entries($(this).parents('form'));
          return false;
        });
        $('#trans_assembly_quantity').change(function() {
          get_entries($(this).parents('form'));
          return false;
        });
      });
