- title "Transaction Assembling"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Transaction Assembling' ] |
  #top_right_link
    - form_for @search do |f|
      = f.text_field :number_like
      = f.submit 'search'

  = sidemenu @tab

= hint 'Click "Create Assembling" button to add new Assembling'

#subheader
  %h3 Transaction Assembling
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create Assembling", new_trans_assembly_path, :class => 'main_link'

%table.list
  %tr
    %th Number
    %th Warehouse
    %th.actions Actions
  - for trans_assembly in @trans_assemblies
    %tr
      %td= link_to h(trans_assembly.number), [trans_assembly]
      %td= h trans_assembly.warehouse.name
      %td.actions
        = link_to image_tag('icons/silk/application_form_edit.png'), edit_trans_assembly_path(trans_assembly)
        = link_to image_tag('icons/silk/delete.png'), trans_assembly_path(trans_assembly), :confirm => 'Are you sure?', :method => :delete
