- title "Purchasing/Quotation Requests"

%table
  %tr
    %th Company
    %th Number
    %th Request date
    %th Description
  - for quotation_request in @quotation_requests
    %tr
      %td= h quotation_request.company_id
      %td= h quotation_request.number
      %td= h quotation_request.request_date
      %td= h quotation_request.description
      %td= link_to 'Show', quotation_request
      %td= link_to 'Edit', edit_purchasing_quotation_request_path(quotation_request)
      %td= link_to 'Destroy', purchasing_quotation_request_path(quotation_request), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Purchasing/Quotation Request", new_purchasing_quotation_request_path
