- title "Quotation Request"

#customer
  #customer-title PERMINTAAN PENAWARAN HARGA

%table#metaleft
  %tr
    %td.metaleft-head To :
    %td= @quotation_request.suppliers.collect { |supp| link_to(supp.name, supp) }.join(', ')
  %tr
    %td.metaleft-head ATTN :
    %td
  %tr
    %td.metaleft-head Fax.NO :
    %td
  %tr
    %td.metaleft-head PHN.NO :
    %td

%table#meta
  %tr
    %td.meta-head Number #
    %td= @quotation_request.number
  %tr
    %td.meta-head Date
    %td= @quotation_request.request_date.to_s(:long)
  %tr
    %td.meta-head From
    %td
  %tr
    %td.meta-head CC
    %td
<br/><br/><br/> <br/><br/><br/><br/>     
<p>Dengan Hormat,</p>
<p>Mohon Diberikan penawaran harga untuk barang-barang sebagai berikut:</p>

%table#items
  %tr
    %th.number No.
    %th.name Item
    %th.quantity Qty
  - @quotation_request.entries.each_with_index do |entry, i|
    %tr.item-row
      %td= (i+1)
      %td.name= entry.item.name
      %td.qty= entry.quantity

<p>Atas Perhatian dan Kerjasamanya Kami Ucapkan Terimakasih</p><br/>Hormat Kami<br/><br/><br/>

