- semantic_form_for [:purchasing, @purchase_order] do |f|
  = f.error_messages
  = render "#{@purchase_order.current_step}_step", :f => f

- content_for :javascripts do
  - javascript_tag do
    var insert_fields = true;
    var suppliers = [];
    - ActiveRecord::Base.include_root_in_json = false
    - for supplier in @suppliers
      = "suppliers[#{supplier.id}] = #{supplier.to_json(:only => [:id, :name], :methods => [:address])};"
    :plain
      var template = $('tbody tr:last-child').html();
      var regexp1 = new RegExp("\\[(\\d+)\\]", "g");
      var regexp2 = new RegExp("_(\\d+)_", "g");
      var new_id = $('tbody tr').length;
      $(function() {
        $('.ui-multiselect-menu')
        .after('<span id="supplier_address" style="margin-left:10px;"></span>')
        var selected_supplier = $('#purchase_order_supplier_id').multiselect('getChecked');
        if(selected_supplier.length) {
          $('#supplier_address').html(suppliers[selected_supplier[0].value].address);
        }
        $('#purchase_order_supplier_id')
        .bind('multiselectclick', function(event, ui) {
          if(typeof(suppliers[ui.value]) != 'undefined') {
            $('#supplier_address').html(suppliers[ui.value].address);
            $(this).multiselect('close');
          }
        });
        /*
        $('.multiselect').bind('multiselectclose', function(event, ui) {
          var mrs = $(this).multiselect('getChecked');
          var form = $(this).parents('form');
          form.append('<input type="hidden" name="get_mrs" value="1"/>');
          $.ajax({
            url: form[0].action,
            type: 'post',
            data: form.serialize(),
            success: function(response, status) {
              var entries = $(response).find('tbody');
              form.find('tbody').html(entries.html());
              $('input[name=get_mrs]').remove();
            }
          });
          return false;
        });
        */
      });
