- form_for @purchasing/purchase_order do |f|
  = f.error_messages
  %p
    = f.label :number
    %br
    = f.text_field :number
  %p
    = f.label :material_request_id
    %br
    = f.text_field :material_request_id
  %p
    = f.label :supplier_id
    %br
    = f.text_field :supplier_id
  %p
    = f.label :term_of_payment
    %br
    = f.text_area :term_of_payment
  %p
    = f.label :po_date
    %br
    = f.date_select :po_date
  %p
    = f.label :attention
    %br
    = f.text_field :attention
  %p
    = f.label :notes
    %br
    = f.text_area :notes
  %p
    = f.submit
