- semantic_form_for [:purchasing, @purchase_order] do |f|
  = f.error_messages
  - f.inputs "Purchase Order", :class => "form_section" do
    %li.string
      = f.label :number, "Number <span class='required'>*</span>"
      .inline
        = f.text_field :number
      .inline
        = f.label :po_date, "PO Date <span class='required'>*</span>"
        = f.text_field :po_date, :class => "datepicker"
    = f.input :material_request, :include_blank => "Select from MR"
    = f.input :supplier, :include_blank => "Select supplier", :required => true
    = f.input :attention
    = f.input :term_of_payment, :input_html => { :rows => 2 }
    = f.input :notes, :input_html => { :rows => 2 }
  - f.inputs 'Items', :class => "form_section" do
    %li
      %table.report
        %thead
          %tr
            %th.td_5= check_box_tag 'check_all', 1, nil, :id => "check_master"
            %th Item
            %th Qty
            %th Price
            %th Disc. (%)
            %th
        %tfoot
          %tr
            %td &nbsp;
            %td{ :colspan => 5 } &nbsp;
        %tbody
          - f.semantic_fields_for :entries do |ent|
            %tr
              %td.tdc.td_5= ent.check_box :_destroy, :class => "check_slave"
              %td.item
                = ent.text_field :item_name, :class => "item_autocomplete", :size => 58
                = ent.hidden_field :item_id
              %td.tdr.td_5= ent.text_field :quantity, :size => 5, :class => "numbers mr_qty"
              %td.tdr.td_10= ent.text_field :purchase_price, :size => 10, :class => "numbers"
              %td.tdr= ent.text_field :discount, :size => 5, :class => "numbers"
              %td.tdr
                = link_to image_tag('icons/silk/cross.png'), '#', :class => "row_remover"
  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save Purchase Order

- content_for :javascripts do
  - javascript_tag do
    var template = $('tbody tr:last-child').html();
    var regexp1 = new RegExp("\\[(\\d+)\\]", "g");
    var regexp2 = new RegExp("_(\\d+)_", "g");
    var new_id = $('tbody tr').length;
    var suppliers = [];
    - for supplier in @suppliers
      = "suppliers[#{supplier.id}] = #{supplier.to_json(:only => [:id, :name], :methods => [:address])};"
    $('#purchase_order_supplier_id').change(function() {
    if(this.value) { $(this).next().html(suppliers[this.value].supplier.address); }
    else { $(this).next().html(''); }
    });
    $(function() {
    var supplier_select = $('#purchase_order_supplier_id');
    supplier_select.after('&nbsp;&nbsp;<span></span>');
    if(supplier_select.val()) { supplier_select.next().html(suppliers[supplier_select.val()].supplier.address); }
    });
