- semantic_form_for [:purchasing, @purchase_order] do |f|
  = f.error_messages
  - f.inputs "Purchase Order", :class => "form_section" do
    %li.string
      = f.label :number, "Number <span class='required'>*</span>"
      .inline
        = f.text_field :number
      .inline
        = f.label :po_date, "PO Date <span class='required'>*</span>"
        = f.text_field :po_date, :class => "datepicker"
    = f.input :material_request, :include_blank => "Select from MR"
    = f.input :supplier, :include_blank => "Select supplier", :required => true
    = f.input :attention
    = f.input :term_of_payment, :input_html => { :rows => 2 }
    = f.input :notes, :input_html => { :rows => 2 }
  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save Purchase Order

- content_for :javascripts do
  - javascript_tag do
    var suppliers = [];
    - for supplier in @suppliers
      = "suppliers[#{supplier.id}] = #{supplier.to_json(:only => [:id, :name], :methods => [:address])};"
    $('#purchase_order_supplier_id').change(function() {
    if(this.value) { $(this).next().html(suppliers[this.value].supplier.address); }
    else { $(this).next().html(''); }
    });
    $(function() {
    var supplier_select = $('#purchase_order_supplier_id');
    supplier_select.after('&nbsp;&nbsp;<span></span>');
    if(supplier_select.val()) { supplier_select.next().html(suppliers[supplier_select.val()].supplier.address); }
    });
