- title "Purchasing::Purchase Orders"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Purchasing', 'Purchase Orders' ] |
  #top_right_link
    - form_for @search do |f|
      = f.text_field :number_or_supplier_name_like
      = f.submit 'search'

  = sidemenu @tab

= hint 'Click "Create Purchase Order" button to add new Purchase Order (PO)'
#subheader
  %h3 Purchase Orders
  #subheader-menu
    %strong Showing :
    = link_to_if (params[:state] != 'all'), "all", purchasing_purchase_orders_path(:state => "all")
    &bull;
    = link_to_if (params[:state] != 'closed'), "closed", purchasing_purchase_orders_path(:state => "closed")
    &bull;
    = link_to_if (params[:state] && params[:state] != 'open'), "open", purchasing_purchase_orders_path(:state => "open")
    &bull;
    = link_to "#{image_tag('icons/silk/add.png')} Create Purchase Order", new_purchasing_purchase_order_path, :class => 'main_link'
%table.list
  %thead
    %tr
      %th.td_5 No.
      %th Number
      %th Supplier
      %th Po date
      %th.actions Actions
  %tfoot
    %tr
      %td{ :colspan => 5 }= will_paginate @purchase_orders
  %tbody
    - @purchase_orders.each_with_index do |purchase_order, i|
      %tr{ :class => purchase_order.closed? ? 'inactive' : '' }
        %td.td_5.tdr= (i+1)
        %td
          %strong= link_to h(purchase_order.number), [:purchasing, purchase_order]
          %em (Closed)
        %td= h purchase_order.supplier.name
        %td= h purchase_order.po_date.to_s(:long)
        %td.actions
          = link_to image_tag('icons/silk/application_form_edit.png'), edit_purchasing_purchase_order_path(purchase_order), :title => 'Edit'
          - unless purchase_order.closed?
            = link_to image_tag('icons/silk/application_form_delete.png'), manual_close_purchasing_purchase_order_path(purchase_order), :title => 'Manual Close'
          = link_to image_tag('icons/silk/delete.png'), purchasing_purchase_order_path(purchase_order), :confirm => 'Are you sure?', :method => :delete, :title => 'Delete'
