- title "Purchase Order"

#customer
  #customer-title Purchase Order

%table#metaleft
  %tr
    %td.metaleft-head To :
    %td= @purchase_order.supplier.name
  %tr
    %td.metaleft-head ATTN :
    %td
  %tr
    %td.metaleft-head Fax.NO :
    %td
  %tr
    %td.metaleft-head PHN.NO :
    %td
  %tr
    %td.metaleft-head TOP :
    %td= @purchase_order.term_of_payment
%table#meta
  %tr
    %td.meta-head Number P.O.
    %td= @purchase_order.number
  %tr
    %td.meta-head Number M.R.
    %td= @purchase_order.material_request_numbers
  %tr
    %td.meta-head Date
    %td= @purchase_order.po_date.to_s(:long)
  %tr
    %td.meta-head From
    %td
  %tr
    %td.meta-head CC
    %td

%table#items
  %tr
    %th.number No.
    %th.name Item
    %th.quantity Qty
    %th.price Unit Price
    %th.number Disc (%)
    %th.price Total
  - @purchase_order.entries.each_with_index do |entry, i|
    %tr.item-row
      %td= (i+1)
      %td.name=  entry.item.name
      %td.qty= entry.quantity
      %td.price= local_currency(entry.purchase_price)
      %td.qty= entry.discount
      %td.price= local_currency(entry.total)

%table#metabottom
  %tr
    %td.metabottom-head Total
    %td= local_currency(@purchase_order.total_value)
  %tr
    %td.metabottom-head  Discount
    %td= local_currency(0)
  %tr
    %td.metabottom-head PPN 10%
    %td= local_currency(@purchase_order.total_value/10)
  %tr
    %td.metabottom-head <b>Total</b>
    %td= local_currency((@purchase_order.total_value)+(@purchase_order.total_value/10))


<br/><br/><br/><br/><br/><br/><br/>
<hr><b>Lampirkan PO ini saat Penagihan</b><br/><br/>
<table id="tandatangan"><tr><td class="table">Diminta Oleh</td><td class="table">Diajukan Oleh</td><td class="table">Approval</td></tr></table>
<br/><br/><br/>

