- title "Purchasing :: Purchase Order"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Purchasing', |
    link_to('Purchasing Order', purchasing_purchase_orders_path), |
    "Purchase Order # #{@purchase_order.number}" ] |

- content_for :top_right_link do
  = link_to image_tag('icons/silk/page_white_acrobat.png'), '#', :title => "Download purchase order in PDF format"
  = link_to image_tag('icons/silk/email_go.png'), [:purchasing, @purchase_order], :title => "Send purchase order to suppliers"

  = sidemenu @tab

= hint "Click 'Edit Purchase Order' button to edit this Purchase Order (PO)"

#subheader
  %h3= "Purchase Order # #{@purchase_order.number}"
  #subheader-menu
    = link_to "#{image_tag('icons/silk/arrow_left.png')} back to purchase order list", purchasing_purchase_orders_path, :class => "back_link"
    = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit Purchase Order", edit_purchasing_purchase_order_path(@purchase_order), :class => 'main_link'

%fieldset.form_section
  %legend Purchase Order
  .two_columns
    %p
      %span.light.transaction_label Number
      %strong= @purchase_order.number
    %p
      %span.light.transaction_label Date
      %strong= @purchase_order.po_date.to_s(:long)
  .two_columns
    %p
      %span.light.transaction_label Supplier
      %strong= @purchase_order.supplier.name
    %p
      %span.light.transaction_label Material Request
      %strong= @purchase_order.material_request_numbers
  %p
    %span.light.transaction_label Note
  %p{ :style => "overflow:hidden; margin-bottom:20px;" }
    %strong= @purchase_order.notes

%fieldset.form_section
  %legend Items

  %table.list
    %thead
      %tr
        %th.td_5 No.
        %th Item
        %th Qty
        %th Price
        %th Disc (%)
    %tbody
      - @purchase_order.entries.each_with_index do |entry, i|
        %tr
          %td.tdr.td_5= (i+1)
          %td= link_to h(entry.item.name), entry.item
          %td.tdr= entry.quantity
          %td.tdr= entry.purchase_price
          %td.tdr= entry.discount
