- title "Transaction Diassembling"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
   'Diassembling' ] |

  = sidemenu @tab

= hint 'Click "Create Diassembling" button to add new Diassembling'

#subheader
  %h3 Transaction Diassembling
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create Diassembling", new_trans_diassembly_path, :class => 'main_link'

%table.list
  %thead
    %tr
      %th Number
      %th Number Trans Assembling
      %th Warehouse
      %th Quantity
      %th.actions Actions 
  
  - for trans_diassembly in @trans_diassemblies
    
    %tbody  
    %tr
      %td= link_to h(trans_diassembly.number), [trans_diassembly]
      %td= h trans_diassembly.trans_assembly.number
      %td= h trans_diassembly.warehouse.name
      %td= h trans_diassembly.quantity
      %td.actions
        = link_to image_tag('icons/silk/application_form_edit.png'), edit_trans_diassembly_path(trans_diassembly)
        = link_to image_tag('icons/silk/delete.png'), trans_diassembly_path(trans_diassembly), :confirm => 'Are you sure?', :method => :delete

 
