- title "Transaction Diassembling"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    link_to('Transaction Diassembling', trans_diassemblies_path), |
    "Transaction Dissembling ##{@trans_diassembly.number}" ] |

  = sidemenu @tab

- content_for :main_act do
  = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit Transaction Diassembling", edit_trans_diassembly_path(@trans_diassembly), :class => 'main_link'

#dialog_form
  .two_columns
    %p
      %span.light.transaction_label Number
      %strong= @trans_diassembly.number
    %p
      %span.light.transaction_label Date
      %strong= @trans_diassembly.tanggal
    %p
      %span.light.transaction_label Warehouse
      %strong= @trans_diassembly.warehouse.name
    %p
      %span.light.transaction_label Dis-assembled Item
      %strong
        = link_to @trans_diassembly.assembly.item_name_with_assembly, @trans_diassembly.assembly.item 
    %p
      %span.light.transaction_label Quantity
      %strong= @trans_diassembly.quantity
%p
  %span.light.transaction_label Description
%p{ :style => "overflow:hidden; margin-bottom:20px;" }
  %strong= @trans_diassembly.description



%table.report
  %thead
    %tr
      %th No.
      %th Item
      %th Qauntity
  %tbody
  - @trans_diassembly.entries.each_with_index do |entry, i|
    %tr
      %td.tdl.td_5= (i+1)
      %td= link_to h(entry.item.name), entry.item
      %td.tdc= entry.quantity

