  <% title "Kurs Rate" %>
  <% javascript 'warehouse' %>
  <% javascript 'custom_checkbox' %>
  
  <% content_for :breadcrumb do %>
    <%= breadcrumb [ link_to("Administrations", administrations_path),
                     link_to("Kurs Rate", kurs_rates_path) ] %>
  <% end -%>

  <% content_for :main_act do %>
    <%= link_to "#{image_tag('icons/silk/add.png')} Create new Kurs Rates", new_kurs_rate_path, :class => "main_link new_edit_kurs_rate", :title => "Create new Kurs Rates" %>
  <% end -%>

  <%= sidemenu %>

  <table class="list">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Value</th>
    <th>Tgl berlaku</th>
    <th class="actions">Actions</th>
  </tr>

<% @kurs_rates.each do |kurs_rate| %>
  <tr>
    <td><%=h kurs_rate.code %></td>
    <td><%=h kurs_rate.name %></td>
    <td><%=h kurs_rate.value %></td>
    <td><%=h kurs_rate.tgl_berlaku %></td>
    <td class="actions">
    <%= link_to image_tag('icons/silk/application_form_edit.png'), edit_kurs_rate_path(kurs_rate), :class => 'new_edit_kurs_rate', :title => "Edit #{kurs_rate.name}" %>
    <%= link_to image_tag('icons/silk/delete.png'), kurs_rate, :confirm => 'Are you sure?', :method => :delete, :title => "Delete #{kurs_rate.name}" %>
    </td>

  </tr>
<% end %>
</table>
