<p>
  <b>Code:</b>
  <%=h @kurs_rate.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @kurs_rate.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @kurs_rate.value %>
</p>

<p>
  <b>Tgl berlaku:</b>
  <%=h @kurs_rate.tgl_berlaku %>
</p>


<%= link_to 'Edit', edit_kurs_rate_path(@kurs_rate) %> |
<%= link_to 'Back', kurs_rates_path %>