  <div id="dialog_form">
    <%= javascript_tag "
      var items = #{@items.to_json(:only => [:id, :name], :methods => :name_with_code)};
     // var suppliers = #{@suppliers.to_json(:only => [:id, :name])};"
    %>
    <% semantic_form_for @plu, {}, :html => { :id => 'plu_form' } do |f| %>
      <% f.inputs "PLU data", :class => "form_section" do %>
        <%= f.input :code, :input_html => { :class => 'default' } %>
        <li class="string required">
          <label for="plu_item_name">Item name<span class="required"> *</span></label>
          <%= f.text_field :item_name, :class => "item_autocomplete_plu", :style => "width:35% !important" %>
          <%= f.hidden_field :item_id %>
        </li>
        <%= f.input :supplier, :collection => @suppliers, :input_html => { :class => "select filter" }, :required => true %>
        <%= f.input :payment_term %>
      <% end -%>
      <fieldset class="buttons">
        <button type="submit" id="primary-button"><%= image_tag 'icons/silk/disk.png' %> Save PLU</button>
      </fieldset>
    <% end %>
  </div>
