- title "Edit Plu"

- content_for :breadcrumb do
  = breadcrumb [ link_to("Administrations", administrations_path), |
                 link_to("PLU",plus_path), |
                 link_to(@plu.code, @plu), |
                 'Edit' ] |

= hint "Fields marked with asterix are required"
#subheader
  %h3= "Edit #{@plu.code}"
  #subheader-menu
    = link_to "#{image_tag('icons/silk/arrow_left.png')} back", plu_path(@plu)
= sidemenu
= render "form"
