<% title "PLU #{@plu.code}" %>
<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Administrations", administrations_path),
                   link_to("PLU", plus_path),
                   "#{@plu.code}" ] %>
<% end -%>

<%= sidemenu %>

<%= hint "Fields marked with asterix are required" %>
<div id='subheader'>
  <h3><%=h "#{@plu.code}" %></h3>
  <div id='subheader-menu'>
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", plus_path %> &bull;
    <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} edit", edit_plu_path(@plu) %>
  </div>
</div>

<div id="dialog_form">
  <div class="two_columns">
    <p>
      <span class="light transaction_label">Code</span>
      <strong><%= @plu.code %></strong>
    </p>
    <p>
      <span class="light transaction_label">Supplier</span>
      <strong><%= link_to @plu.supplier.name, @plu.supplier %></strong>
    </p>
  </div>
  <div class="two_columns">
    <p>
      <span class="light transaction_label">Item</span>
      <strong><%= link_to @plu.item.try(:name), @plu.item %></strong>
    </p>
    <p>
      <span class="light transaction_label">Payment Term</span>
      <strong><%= @plu.payment_term %></strong>
    </p>
  </div>
</div>
