- title "Edit Role"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Administrations', administrations_path), |
    'Account', link_to('Roles', roles_path), link_to(@role.name, @role), 'Edit' ] |

  = sidemenu @tab

= hint 'Role name must be unique'

#subheader
  %h3= "Edit #{@role.name}"
  #subheader-menu
    = link_to "#{image_tag('icons/silk/arrow_left.png')} back", @role

= render :partial => 'form'
