- title "Roles"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Administrations', administrations_path), 'Account', link_to('Roles', roles_path) ]
  #top_right_link
    - form_for @search do |f|
      = f.text_field :name_like
      = f.submit 'search'

  = sidemenu @tab

= hint 'Click "Create role" button to add new role'
#subheader
  %h3 Roles
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create role", new_role_path, :class => 'main_link'
%table.list
  %thead
    %tr
      %th.td_5 No.
      %th Name
      %th.actions Actions
  %tfoot
    %tr
      %td{ :colspan => 3 }= will_paginate @roles
  %tbody
    - @roles.each_with_index do |role, i|
      %tr
        %td.td_5.tdr= (i+1)
        %td
          %strong= link_to h(role.name.titleize), role
        %td.actions
          - unless role.name.downcase == 'admin'
            = link_to image_tag('icons/silk/application_form_edit.png'), edit_role_path(role)
            = link_to image_tag('icons/silk/delete.png'), role, :confirm => 'Are you sure?', :method => :delete
