<% javascript "items" %>
<% javascript 'custom_checkbox' %>

<div id="dialog_form">
  <%= javascript_tag "var categories = #{@categories_list.to_json(:only => :id, :methods => [:formatted_code, :code_for_item])};" %>
  <% semantic_form_for @item, {}, :html => { :id => "item_form" } do |f| %>
    <ul class="form_info">
      <li>Fields marked <span class="required">*</span> are required</li>
    </ul>
    <% f.inputs do %>
      <%= f.input :category_code, :input_html => { :class => 'default' } %>
      <%= f.input :category_id, :as => :hidden %>
      <%= f.input :count_method, :as => :select, :collection => [['Average', 'avg'],['FIFO','fifo'],['LIFO','lifo']], :include_blank => false %>
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :description, :input_html => { :rows => 1 } %>
      <li class="inline">
        <%= f.check_box(:active) %> <%= f.label :active %> 
        <%= f.check_box(:is_stock) %> <%= f.label :is_stock %> 
      </li>
    <% end -%>
    <fieldset id="units">
      <legend>
        <label for="item_units_attributes_0_name">Units</label>
      </legend>
      <ol>
        <% f.fields_for :units do |unit| %>
          <li>
            <%= unit.label :name %>
            <%= unit.text_field :name, :size => 20 %>
            <%= unit.label :conversion_rate %>
            <%= unit.text_field :conversion_rate, :size => 5 %>
            <%= unit.label :value %>
            <%= unit.text_field :value, :size => 13 %>
            <%= unit.hidden_field :_destroy %>
            <a href="#" title="remove unit" class="unit_remover"><%= image_tag 'icons/silk/cross.png' %></a>
          </li>
        <% end -%>
      </ol>
      <a href="#" id="add_unit"><%= image_tag 'icons/silk/add.png' %> add more unit</a>
    </fieldset>
    <fieldset class="buttons">
      <button type="submit"><%= image_tag 'icons/silk/disk.png' %> Save Item</button>
    </fieldset>
  <% end %>
</div>
