<% javascript "items" %>

<div id="dialog_form">
  <%= javascript_tag "var categories = #{@categories_list.to_json(:only => :id, :methods => [:formatted_code, :code_for_item])};" %>
  <% semantic_form_for @item, {}, :html => { :multipart => true, :id => "item_form" } do |f| %>
    <%= f.error_messages %>
    <ul class="form_info">
      <li>Fields marked <span class="required">*</span> are required</li>
    </ul>
    <% f.inputs "Item data", :class => 'form_section' do %>
      <%= f.input :category, :collection => @categories, :include_blank => "Select category", :input_html => { :class => "select" } %>
      <%= f.input :count_method, :as => :radio, :collection => [['Average', 'avg'],['FIFO','fifo'],['LIFO','lifo']], :wrapper_html => { :class => "inline" } %>
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :description, :input_html => { :rows => 1 } %>
      <li class="inline">
        <span class="label">Status</span>
        <%= f.check_box(:active) %> <%= f.label :active %> 
      </li>
      <%= f.input :purchase_price, :input_html => { :class => "numbers" } %>
      <li class="inline" id="dimension">
        <span class="label">Dimension (mm, kg)</span>
        <%= f.label :length %>
        <%= f.text_field :length, :size => 5, :class => 'number' %>
        <%= f.label :width %>
        <%= f.text_field :width, :size => 5, :class => 'number' %>
        <%= f.label :height %>
        <%= f.text_field :height, :size => 5, :class => 'number' %>
        <%= f.label :weight %>
        <%= f.text_field :weight, :size => 5, :class => 'number' %>
      </li>
    <% end -%>
    <% f.inputs "Units", :class => 'form_section', :id => 'units' do %>
      <% f.fields_for :units do |unit| %>
        <li>
          <%= unit.label :name %>
          <%= unit.text_field :name, :size => 20 %>
          <%= unit.label :conversion_rate %>
          <%= unit.text_field :conversion_rate, :size => 5, :class => 'number' %>
          <%= unit.label :value %>
          <%= unit.text_field :value, :size => 13, :class => 'number' %>
          <%= unit.hidden_field :_destroy %>
          <a href="#" title="remove unit" class="unit_remover"><%= image_tag 'icons/silk/cross.png' %></a>
        </li>
      <% end -%>
      <li><a href="#" id="add_unit"><%= image_tag 'icons/silk/add.png' %> add more unit</a></li>
    <% end %>
    <fieldset class="inputs" id="photo_input">
      <ol>
        <li>
          <%= f.label :photo %>
          <%= f.file_field :photo %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <button type="submit" id="primary-button"><%= image_tag 'icons/silk/disk.png' %> Save Item</button>
    </fieldset>
  <% end %>
</div>
<% content_for :javascripts do %>
  <% javascript_tag do %>
    $(function() {
      $('#item_category_id')
      .bind('multiselectclick', function(event, ui) {
        $(this).multiselect('close');
      });
    });
  <% end -%>
<% end -%>
