<% title "Items" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Administrations", administrations_path), link_to("Items", items_path) ] %>
  <div id="top_right_link">
    <% form_for @search do |f| %>
      <%= f.text_field :code_or_name_like %>
      <%= f.submit 'search' %>
    <% end %>
  </div>
<% end -%>

<div id='subheader'>
  <h3>Items</h3>
  <div id='subheader-menu'>
    <strong>Showing items:</strong>
    <%= link_to_if (!@active || @active != 'all'), "All", items_path(request.query_parameters.merge!(:active => 'all')) %> |
    <%= link_to_if (!@active || @active == 'all' || @active.to_i == 0), "Active", items_path(request.query_parameters.merge!(:active => 1)) %> |
    <%= link_to_if (!@active || @active == 'all' || @active.to_i == 1), "Inactive", items_path(request.query_parameters.merge!(:active => 0)) %> |
    <%= link_to "#{image_tag('icons/silk/add.png')} Create new item", new_item_path, :class => "main_link new_item", :title => "Create New Item" %>
  </div>
</div>

<%= sidemenu %>
<%= hint "Click 'Create new item' to add new item" %>

<table class="list" id="items">
  <thead>
    <tr>
      <th>Category</th>
      <th>Code</th>
      <th>Name</th>
      <th class="tdc">Stock</th>
      <th class="numbers">Latest HPP</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">
        <%= will_paginate(@items) %>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <%= render @items %>
  </tbody>

</table>
