<% title "Item #{@item.name}" %>
<h3><%=h "#{@item.name}" %></h3>
<div id="dialog_form">

  <% content_for :breadcrumb do %>
    <%= breadcrumb [ link_to("Administrations", administrations_path),
      link_to("Items", items_path),
      @item.name ] %>
  <% end -%>

  <% content_for :main_act do %>
    <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit this item", edit_item_path(@item), :class => "main_link edit_item", :title => "Edit Item #{@item.code}" %>
  <% end -%>

  <%= sidemenu %>

  <%= image_tag @item.photo.url(:medium), :class => 'top_right_photo' %>

  <fieldset class="form_section">
    <legend>Item Attributes</legend>
    <div class="two_columns">
      <p>
        <span class="light transaction_label">Code</span>
        <strong><%= @item.code %></strong>
      </p>
        <span class="light transaction_label">Category</span>
        <strong><%= link_to @item.category.name, @item.category %></strong>
      <p>
      </p>
    </div>
    <div class="two_columns">
      <p>
        <span class="light transaction_label">Name</span>
        <strong><%= @item.name %></strong>
      </p>
    </div>
    <div class="single_column">
      <span class="light transaction_label">Description</span>
      <p><%=h @item.description %></p>
    </div>
  </fieldset>

  <fieldset class="form_section">
    <legend>Item Units</legend>
    <% unless @item.units.blank? %>
      <ol class="numbered-list">
        <% @item.units.each do |unit| %>
          <li>
            <strong><%=h unit.name %></strong>
            <% unless unit.position == 1 %>
              <span class="light">equals to </span> <%= unit.conversion_rate %> <%= @item.units.first.name %>
            <% end -%>
            @ <%= unit.value %>
          </li>
        <% end -%>
      </ol>
    <% end -%>
  </fieldset>

  <fieldset class="form_section">
    <legend>Stock</legend>
    <p>
      Overall : <%= @item.stock %>
    </p>
    <p>
      Per Plu : 
    </p>
  </fieldset>
</div>
