<% title "Item #{@item.name}" %>

<% if @item.plus.blank? %>
  <div class="flash_notice">
    This item doesn't have any PLU. Item without PLU won't be selectable on most transactions.
    <%= link_to "Add PLU for this item", new_plu_path(:item_id => @item.id) %>
  </div>
<% end %>

<div id='subheader'>
  <h3><%=h "#{@item.code} :: #{@item.name}" %></h3>
  <div id='subheader-menu'>
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", items_path %> &bull;
    <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} edit", edit_item_path(@item), :title => "Edit Item #{@item.code}" %>
  </div>
</div>

  <% content_for :breadcrumb do %>
    <%= breadcrumb [ link_to("Administrations", administrations_path),
      link_to("Items", items_path),
      @item.name ] %>
  <% end -%>

  <%= sidemenu %>
  <%= hint "Click 'edit' to edit this item" %>

  <%= image_tag @item.photo.url(:medium), :class => 'top_right_photo' %>

  <fieldset class="form_section">
    <legend>Item Attributes</legend>
    <p class="single-column">
      <span class="light transaction_label">Code</span>
      <strong><%= @item.code %></strong>
    </p>
    <p class="single-column">
      <span class="light transaction_label">Category</span>
      <strong><%= link_to @item.category.name, @item.category %></strong>
    </p>
    <p class="single-column">
      <span class="light transaction_label">Name</span>
      <strong><%= @item.name %></strong>
    </p>
    <p class="single-column">
      <span class="light transaction_label">Purchase Price</span>
      <strong><%= @item.purchase_price %></strong>
    </p>
    <p class="single-column">
      <span class="light transaction_label">Description</span>
      <strong><%=h @item.description %></strong>
    </p>
  </fieldset>

  <fieldset class="form_section">
    <legend>Item Units</legend>
    <% unless @item.units.blank? %>
      <ol class="numbered-list">
        <% @item.units.each do |unit| %>
          <li>
            <strong><%=h unit.name %></strong>
            <% unless unit.position == 1 %>
              <span class="light">equals to </span> <%= unit.conversion_rate %> <%= @item.units.first.name %>
            <% end -%>
            @ <%= unit.value %>
          </li>
        <% end -%>
      </ol>
    <% end -%>
  </fieldset>

  <fieldset class="form_section">
    <legend>Stock</legend>
    <p class="single-column">
      <span class="light transaction_label">Overall</span>
      <strong><%= @item.stock %></strong>
    </p>
    <p class="single-column">
      <span class="light transaction_label">Per PLU</span>
      <strong></strong>
    </p>
  </fieldset>
