= javascript_tag "var categories = #{@categories.to_json(:only => :id, :methods => [:formatted_code])};"

- if current_company.warehouses.blank?
  #flash_error.no_record
    %h5 Sorry, but you have to at least have 1 warehouse to act as a default warehouse.
    %h6= link_to "Click to add default warehouse", new_warehouse_path(:default => true)
- else
  - semantic_form_for @beginning_balance, :url => beginning_balances_path do |f|
    %fieldset.form_section
      %legend Transaction data
      - f.inputs do
        = f.input :number, :input_html => { :class => 'default' }
        - if @beginning_balance.new_record?
          = f.input :categories, :as => :select, :collection => @categories.collect {|cat| [cat.fullname, cat.id]}.compact, :input_html => { :class => "multiselect" }
        - else
          %li.string
            = label_tag :categories
            %strong{ :style => "font-weight:bold;" }= @beginning_balance.categories.collect { |cat| link_to(cat.fullcode, cat) }.join(', ')
        = f.input :remark, :input_html => { :rows => 3 }

    %fieldset.form_section
      %legend Items
      %ol
        %li.string
          #items
            %table.list
              %thead
                %tr
                  %th.td_20 Code
                  %th.td_40 Name
                  %th.actions.td_10 Quantity
                  %th.actions.td_30 @ Value
              %tfoot
                %tr
                  %td{ :colspan => 4 }
              %tbody
                - f.semantic_fields_for :entries do |entry|
                  %tr
                    %td= entry.object.item.try(:code)
                    %td= entry.object.item.try(:name_with_category)
                    %td.actions.td_10
                      = entry.text_field :quantity, :size => 10, :class => 'numbers'
                      = entry.hidden_field :item_id
                    %td.actions.td_30= entry.text_field :value, :size => 30, :class => 'numbers'

    %fieldset.buttons
      %button#primary-button{ :type => :submit }
        = image_tag 'icons/silk/disk.png'
        Save Begining Balance

- content_for :javascripts do
  - javascript_tag do
    :plain
      $(function() {
        $('#beginning_balance_category_ids').bind('multiselectclose', function(event, ui) {
          var mrs = $(this).multiselect('getChecked');
          var form = $(this).parents('form');
          form.append('<input type="hidden" name="get_mrs" value="1"/>');
          $.ajax({
            url: form[0].action,
            type: 'post',
            data: form.serialize(),
            success: function(response, status) {
              var entries = $(response).find('tbody');
              form.find('tbody').html(entries.html());
              $('input[name=get_mrs]').remove();
            }
          });
          return false;
        });
      });
