- title "Beginning Balances"
- content_for :breadcrumb do
  = breadcrumb [ link_to("Transactions", transactions_path), 'Beginning Balances' ]
  #top_right_link
    - form_for @search do |f|
      = f.text_field :number_like
      = f.submit 'search'

= sidemenu @tab

= hint 'Click "Create Beginning Balance" to add new beginning balance'
#subheader
  %h3 Purchase Orders
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create Beginning Balance ", new_beginning_balance_path, :class => "main_link new_bb", :title => "Create New Beginning Balance"

%table.list
  %thead
    %tr
      %th Number
      %th Warehouse
      %th Created
      %th.actions Actions
  %tfoot
    %tr
      %td{ :colspan => 4 }= will_paginate @beginning_balances
  %tbody
    - if @beginning_balances.blank?
      %tr
        %td{ :colspan => 4 }
          %div.no_record
            %h4 No transaction recorded yet
            - if current_company.warehouses.blank?
              #flash_notice
                %h6 It seems that you don't have any warehouse yet, so you cannot create any beginning balance.
                %h6= link_to "Click here to create default warehouse", new_warehouse_path(:default => true)
    - else
      - for beginning_balance in @beginning_balances
        %tr
          %td= link_to beginning_balance.number, beginning_balance
          %td= beginning_balance.destination_warehouse.name
          %td= beginning_balance.created_at
          %td.actions= link_to image_tag('icons/silk/application_form_edit.png'), edit_beginning_balance_path(beginning_balance)
