- title "New Begining Balance"

- content_for :breadcrumb do
  = breadcrumb [ link_to("Transactions", transactions_path), |
    link_to('Begining Balances', beginning_balances_path), |
    'New' ]                          |

= sidemenu @tab

= hint "Select one or several categories in which the items are going to be added to the transaction"

#subheader
  %h3 Create new beginning balance
  #subheader-menu
    = link_to "#{image_tag('icons/silk/arrow_left.png')} back", beginning_balances_path
= render :partial => 'form'
