<% title "Project #{@project.number} :: Work Orders" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to('Transactions', transactions_path), 
    link_to("Projects", projects_path),
    link_to(@project.number, @project),
    "Work Orders" ] %>
<% end %>

<%= sidemenu @tab %>

<%= hint '' %>

<div id="subheader">
  <h3>Production Items</h3>
</div>
<table class="list">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Produced</th>
    </tr>
  </thead>
  <tbody>
    <% @project.materials.item_assembly_is(true).each do |m| %>
      <tr>
        <td><%= link_to m.item.name, m.item %></td>
        <td class="numbers"><%= m.value %></td>
        <td class="numbers">0</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="subheader">
  <h3>Work Orders</h3>
  <div id="subheader-menu">
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", @project %>
    &bull;
    <%= link_to "#{image_tag('icons/silk/add.png')} Create Work Order", new_project_work_order_path(@project), :class => 'main_link' %>
  </div>
</div>

<table class="list">
  <tr>
    <th>Number</th>
    <th>Requester</th>
    <th>Actions</th>
  </tr>
  <% for wo in @work_orders %>
    <tr>
      <td><%= link_to h(wo.number), [:production, wo] %></td>
      <td><%= h wo.requester %></td>
      <td class="actions">
        <%= link_to image_tag('icons/silk/application_form_edit.png'), edit_production_work_order_path(wo) %>
        <%= link_to image_tag('icons/silk/delete.png'), [:production, wo], :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
