- title "Material Request"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Purchasing', |
    link_to('Material Requests', purchasing_material_requests_path), |
    "#{@material_request.number}" ] |

  = sidemenu @tab

= hint 'Click "Edit" to edit material request'

#subheader
  %h3= "Material Request # #{@material_request.number}"
  #subheader-menu
    = link_to "#{image_tag('icons/silk/page_white_acrobat.png')} Export PDF", purchasing_material_request_path(@material_request, :format => "pdf", :type =>"pdf")
    &bull;
    = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit", edit_purchasing_material_request_path(@material_request)
    &bull;
    = link_to "#{image_tag('icons/silk/delete.png')} delete", purchasing_material_request_path(@material_request), :method => :delete, :confirm => "Are you sure"

%fieldset.form_section
  %legend Material Request
  .two_columns
    %p
      %span.light Number
      %strong= @material_request.number
    %p
      %span.light Date
      %strong= @material_request.userdate.to_s(:long)
  .two_columns
    %p
      %span.light Reference
      %strong= @material_request.reference
    %p
      %span.light Requester
      %strong= @material_request.requester
  %p.single-column
    %span.light Description
    %strong= @material_request.description

%fieldset.form_section
  %legend Items
  %table.report
    %thead
      %tr
        %th No.
        %th Item
        %th Qty
        %th Est. Delivery Date
    %tbody
    - @material_request.entries.each_with_index do |entry, i|
      %tr
        %td.tdr.td_5= (i+1)
        %td
          %p= link_to h(entry.item.name), entry.item
          %p.inline-hints.inline-labels=h "Note: #{entry.note}" unless entry.note.blank?
        %td.tdr= entry.quantity
        %td.tdc= entry.estimated_delivery_date.to_s(:long)

