<div id="dialog_form">

  <%= javascript_tag "categories = #{@categories_list.to_json(:only => :id, :methods => :fullcode)};" %>
  
  <% semantic_form_for @category, {}, :html => { :id => 'category_form' } do |f| %>
    <ul class="form_info">
      <li>Fields marked <span class="required">*</span> are required</li>
    </ul>
    <% f.inputs do %>
      <%= f.input :parent_id,
        :as => :select,
        :collection => @parents,
        :include_blank => "Select a parent",
        :input_html => { :class => "select" },
        :label => "Parent Category"
      %>
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :description, :input_html => { :rows => 5 } %>
    <% end -%>
    <fieldset class="buttons">
      <button type="submit">
        <%= image_tag 'icons/silk/disk.png' %> <span>Save Category</span>
      </button>
    </fieldset>
  <% end %>
</div>
