<div id="dialog_form">

  <%= javascript_tag "categories = #{@categories_list.to_json(:only => :id, :methods => :fullcode)};" %>
  
  <% semantic_form_for @category, {}, :html => { :id => 'category_form' } do |f| %>
    <% f.inputs "Category data", :class => "form_section" do %>
      <%= f.input :parent_id,
        :as => :select,
        :collection => @parents,
        :include_blank => "Select a parent",
        :input_html => { :class => "select filter" },
        :label => "Parent Category"
      %>
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :description, :input_html => { :rows => 5 } %>
			<%= f.input :service %>
    <% end -%>
    <fieldset class="buttons">
      <button type="submit">
        <%= image_tag 'icons/silk/disk.png' %> <span>Save Category</span>
      </button>
    </fieldset>
  <% end %>
</div>
