<% title "Categories" %>

<% javascript 'categories' %>
<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Administrations", administrations_path), link_to("Categories", categories_path) ] %>
  <div id="top_right_link">
    <% form_for @search do |f| %>
     <%= f.text_field :code_or_name_like %>
     <%= f.submit "Search" %>
    <% end %>
  </div>
<% end -%>

<%= hint "Click 'Create Category' to add new category" %>
<div id="subheader">
  <h3>Categories</h3>
  <div id="subheader-menu">
    <%= link_to "#{image_tag('icons/silk/add.png')} Create Category", new_category_path, :class => 'main_link' %>
  </div>
</div>

<table id="categories_list" class="list">
  <thead>
    <tr>
      <th></th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5"><%= will_paginate @categories %></td>
    </tr>
  </tfoot>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
