<% content_for :main_act do %>
  <%= link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit category", edit_category_path(@item), :class => "main_link category_detail" %>
<% end -%>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to('Administrations', administrations_path),
    link_to('Categories', categories_path),
    "#{@category.fullcode}" ]
  %>

  <%= sidemenu @tab %>
<% end -%>

<div id="dialog_form">
  <% title "Category" %>

  <p>
    <strong>Category:</strong>
    <%=h @category.parent.try(:name) %>
  </p>
  <p>
    <strong>Name:</strong>
    <%=h @category.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%=h @category.description %>
  </p>
</div>
