<% title "Suppliers" %>
<% javascript "suppliers" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Administrations", administrations_path), link_to("Suppliers", suppliers_path) ] %>
  <div id="top_right_link">
    <% form_for @search do |f| %>
      <%= f.text_field :code_or_name_like %>
      <%= f.submit 'search' %>
    <% end %>
  </div>
<% end -%>

<div id='subheader'>
  <h3>Suppliers</h3>
  <div id='subheader-menu'>
    <%= link_to "#{image_tag('icons/silk/add.png')} Create new supplier", new_supplier_path, :class => "main_link alter_record", :title => "Create new supplier" %>
  </div>
</div>

<%= sidemenu %>
<%= hint "click 'Create new supplier' to add new supplier" %>

<table class="list">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone / Fax</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5"><%= will_paginate @suppliers %></td>
    </tr>
  </tfoot>
  <tbody>
    <%= render @suppliers %>
  </tbody>

</table>
