<div id="dialog_form">
  <% semantic_form_for @warehouse, {}, :html => { :id => 'warehouse_form' } do |f| %>
    <%= f.error_messages %>
    <% f.inputs "Warehouse data", :class => 'form_section' do %>
      <%= f.input :code %>
      <%= f.input :name %>
      <%= f.input :address, :input_html => { :rows => 3 } %>
      <%= f.input :default, :label => "Set as default warehouse" %>
    <% end -%>
    <fieldset class="buttons">
      <button type="submit" id="primary-button"><%= image_tag('icons/silk/disk.png') %> Save warehouse</button>
    </fieldset>
  <% end %>
</div>
