<% title "New Warehouse" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [ link_to("Administrations", administrations_path),
                   link_to("Warehouses", warehouses_path),
                   "Create New Warehouse" ] %>
<% end -%>

<%= hint "Fields marked with asterix are required" %>
<div id="subheader">
  <h3>Crate new warehouse</h3>
  <div id="subheader-menu">
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", warehouses_path %>
  </div>
</div>

<%= sidemenu %>

<%= render :partial => 'form' %>
