- semantic_form_for @assembly do |f|
  = f.error_messages
  - f.inputs "Formula data", :class => "form_section" do
    -#= f.input :tipe, :as => :radio, :collection => [['Assembling', 'Ass'],['Production','Prod']], :label => "Type", :include_blank => "select type" , :input_html => {:class => "select"} 
    = f.input :number
    = f.input :category_id, :as => :select, :collection => @category, :label => "Category Name", :include_blank => "select Category", :input_html => {:class => "select filter"}
    = f.input :item_name, :label => "End Product", :input_html => { :class => "item_autocomplete", :style => "width:35% !important;" }
    = f.input :item_id, :as => :hidden
    = f.input :name  
    = f.input :description, :input_html => { :rows => 3 }

  - f.inputs 'Items', :class => "form_section" do
    %li
      %table.report
        %thead
          %tr
            %th.td_5= check_box_tag 'check_all', 1, nil, :id => "check_master"
            %th Item
            %th Quantity
            %th &nbsp;
        %tfoot
          %tr
            %td &nbsp;
            %td{ :colspan => 3 } &nbsp;
        %tbody
          - f.semantic_fields_for :entries do |ent|
            %tr
              %td.tdc.td_5= ent.check_box :_destroy, :class => "check_slave"
              %td.item
                = ent.text_field :item_name, :class => "item_autocomplete", :size => 58
                = ent.hidden_field :item_id
              %td.tdr.td_15= ent.text_field :quantity, :size => 15, :class => "numbers mr_qty"
              %td.tdr.td_5
                = link_to image_tag('icons/silk/cross.png'), '#', :class => "row_remover"

  %fieldset.buttons
    %button{ :type => "submit" }
      = image_tag 'icons/silk/disk.png'
      Save Transaction

- content_for :javascripts do
  - javascript_tag do
    :plain
      var insert_fields = true;
      var template = $('tbody tr:last-child').html();
      var regexp1 = new RegExp("\\[(\\d+)\\]", "g");
      var regexp2 = new RegExp("_(\\d+)_", "g");
      var new_id = $('tbody tr').length;
      $(function() {
        $('.select').bind('multiselectclick', function(event, ui) {
        });
      });
