- title "Formula Assembling"

- content_for :breadcrumb do
  = breadcrumb [ link_to("Administrations", administrations_path), link_to("Assembling Formulas", assemblies_path) ]
  #top_right_link
    - form_for @search do |f|
      = f.text_field :name_or_number_or_item_name_or_item_code_like
      = f.submit 'search'

  = sidemenu @tab

= hint 'Click "Create Formula Assembling" button to add new Formula Assembling'

#subheader
  %h3 Assembled Item Formula
  #subheader-menu
    = link_to "#{image_tag('icons/silk/add.png')} Create New Formula ", new_assembly_path, :class => 'main_link'

%table.list
  %tr
    %th Number
    %th Name
    %th End Product
    %th.actions Actions
  - for assembly in @assemblies
    %tr
      %td= link_to assembly.number, assembly
      %td= h assembly.name
      %td= h assembly.item.try(:name)
      %td.actions
        = link_to image_tag('icons/silk/application_form_edit.png'), edit_assembly_path(assembly)
        = link_to image_tag('icons/silk/delete.png'), assembly_path(assembly), :confirm => 'Are you sure?', :method => :delete
