<% title "Sales Order Preparation" %>

<% content_for :breadcrumb do %>
  <%= breadcrumb [link_to("Transactions", transactions_path), link_to("Sales Orders", sales_sales_orders_path), link_to(@sales_order.number, [:sales, @sales_order]), "Preparation"] %>
<% end %>

<%= sidemenu @tab %>

<div id="subheader">
  <h3><%= "Sales Order # #{@sales_order.number}" %></h3>
  <div id="subheader-menu">
    <%= link_to "#{image_tag('icons/silk/arrow_left.png')} back", [:sales, @sales_order] %>
  </div>
</div>

<div class="two_columns">
  <p>
    <span class="light">Quotation Number</span>
    <%=h @sales_order.quotation.nil? ? '-' : link_to(@sales_order.quotation.number, sales_quotation_path(@sales_order.quotation)) %>
  </p>
  <p>
    <span class="light">Date</span>
    <%=h @sales_order.tanggal.to_s(:long) %>
  </p>
  <p>
    <span class="light">Customer</span>
    <%=h link_to @sales_order.customer.fullname %>
  </p>
  <p>
    <span class="light">Payment Terms</span>
    <%=h link_to @sales_order.top %>
  </p>
</div>

<% form_for @sales_order, :url => prepared_sales_sales_order_path(@sales_order) do |f| %>
  <table class="list">
    <thead>
      <tr>
        <th>PLU Code</th>
        <th>Item</th>
        <th>Qty.</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3" class="tdr"><button type="submit">Confirm PLU</button></td>
      </tr>
    </tfoot>
    <tbody>
      <% f.fields_for :entries do |e| %>
        <tr>
          <td><%= e.collection_select :plu_id, e.object.item.plus, :id, :code, :include_blank => false %></td>
          <td><%= link_to e.object.item.name, e.object.item %></td>
          <td class="numbers"><%= e.object.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

