- title "Sales Ordes"

#page-wrap
#customer
  #customer-title
  =@sales_order.customer

%table#meta
  %tr
    %td.meta-head Number #
    %td= @sales_order.number
  %tr
    %td.meta-head Date
    %td= @sales_order.tanggal
  %tr
    %td.meta-head Ammount Due
    %td $875.00

%table#items
  %tr
    %th No.
    %th Item
    %th Description
    %th Quantity
    %th Price
  - @sales_order.entries.each_with_index do |entry, i|
    %tr.item-row
      %td= (i+1)
      %td.item-name= link_to h(entry.item.name), entry.item
      %td.description= entry.description
      %td.qty= entry.quantity
      %td.price= entry.price
