- title "Sales Ordes"

#customer
  #customer-title Sales Order

%table#meta
  %tr
    %td.meta-head Nomor S.O. #
    %td= @sales_order.number
  %tr
    %td.meta-head Nomor Quot #
    %td= @sales_order.quotation.nil? ? 'Without Quotation' : @sales_order.quotation.number
  %tr
    %td.meta-head Customer #
    %td= @sales_order.customer
  %tr
    %td.meta-head Tanggal
    %td= @sales_order.tanggal
  %tr
    %td.meta-head Terms
    %td= @sales_order.top

%table#items
  %tr
    %th.number No.
    %th.name Nama Barang
    %th.quantity Qty
    %th.price Harga
    %th.desc Keterangan
  - @sales_order.entries.each_with_index do |entry, i|
    %tr.item-row
      %td= (i+1)
      %td.name=  entry.item.name
      %td.qty= entry.quantity
      %td.price= local_currency(entry.price)
      %td.desc= entry.description

