- title "Sales Order"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Sales', |
    link_to('Sales Order', sales_sales_orders_path), |
    "Sales Orders ##{@sales_order.number}" ] |

  = sidemenu @tab

- content_for :main_act do
  = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit Sales Order", edit_sales_sales_order_path(@quotation), :class => 'main_link'
  = link_to "#{image_tag('icons/silk/page_white_acrobat.png')} Export PDF", '#', :class => 'main_link'

#dialog_form
  .two_columns
    %p
      %strong.light.transaction_label Quotation Number:
      =h @sales_order.quotation.number
    %p
      %strong.light.transaction_label Number:
      =h @sales_order.number
    %p
      %strong.light.transaction_label Date:
      =h @sales_order.tanggal
    %p
      %strong.light.transaction_label Customer Name:
      =h @sales_order.customer
    %p
      %strong.light.transaction_label Payment Terms:
      =h @sales_order.top
    %p
      %strong.light.transaction_label Status:
      =h @sales_order.status
    %p
      %strong.light.transaction_label Total Bruto:
      =h @sales_order.totral_bruto
    %p
      %strong.light.transaction_label Total Disc:
      =h @sales_order.total_disc
    %p
    %strong.light.transaction_label Total Netto:
    =h @sales_order.total_netto

%table.report
  %thead
    %tr
      %th No.
      %th Item
      %th Qty
  %tbody
  - @sales_order.entries.each_with_index do |entry, i|
    %tr
      %td.tdr.td_5= (i+1)
      %td= link_to h(entry.item.name), entry.item
      %td.tdr= entry.quantity
