- title "Sales Order"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Sales', |
    link_to('Sales Order', sales_sales_orders_path), |
    "Sales Orders # #{@sales_order.number}" ] |

  = sidemenu @tab

#subheader
  %h3= "Sales Order # #{@sales_order.number}"
  #subheader-menu
    = link_to "#{image_tag('icons/silk/page_white_acrobat.png')} Export PDF", sales_sales_order_path(@sales_order, :format => "pdf", :type =>"pdf")
    &bull;
    = link_to "#{image_tag('icons/silk/application_form_edit.png')} Edit", edit_sales_sales_order_path(@sales_order)
    &bull;
    = link_to "#{image_tag('icons/silk/delete.png')} delete", sales_sales_order_path(@sales_order), :method => :delete, :confirm => "Are you sure"

.two_columns
  %p
    %span.light Quotation Number:
    =h @sales_order.quotation.nil? ? 'Without Quotation' : @sales_order.quotation.number
  %p
    %span.light Number:
    =h @sales_order.number
  %p
    %span.light Date:
    =h @sales_order.tanggal
  %p
    %span.light Customer Name:
    =h @sales_order.customer
  %p
    %span.light Payment Terms:
    =h @sales_order.top

%table.report
  %thead
    %tr
      %th No.
      %th Item
      %th Qty
  %tbody
  - @sales_order.entries.each_with_index do |entry, i|
    %tr
      %td.tdr.td_5= (i+1)
      %td= link_to h(entry.item.name), entry.item
      %td.tdr= entry.quantity
